<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="@{_fragment/_headTag} :: headTag">
</head>
<body>
<div th:remove="tag" th:include="@{_fragment/_apolo-template} :: apolo-template"></div>

<div id="page-content">
    <section class="content-header">
        <h1 th:text="#{contact.import}">
            Widgets
        </h1>
    </section>

    <section class="content">
        <form id="userForm" th:action="@{|/${#authentication.systemUser.tenant.url}/distribution/${distributionId}/contact/import-file|}" role="form" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="control-label" th:text="#{contact.file}" />
                <input type="file" class="form-control" name="contactsfile[0]" />
                <span th:text="#{contact.file.message}"></span>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i>
                    <span th:text="#{common.upload}" />
                </button>

                <a th:href='@{|/${#authentication.systemUser.tenant.url}/distribution/${distributionId}/contact/list|}' class="btn btn-default">
                    <i class="fa fa-times"></i>
                    <span th:text="#{common.cancel}" />
                </a>

                <a sec:authorize="@apoloSecurity.hasPermission('CAMPAIGN_LIST')"
                   th:href='@{|/${#authentication.systemUser.tenant.url}/distribution/${distributionId}/contact/download-example|}'
                   class="btn btn-info"
                   data-toggle="tooltip">
                    <i class="fa fa-download"></i>
                    <span th:text="#{contact.download.example}" />
                </a>
            </div>
        </form>
    </section>
</div>
</body>
</html>