#page-content {

}

.sidebar .sidebar-header img {
	max-height: 70px;
}

body {
	padding-bottom: 40px;
}

.navbar-opacity {
	opacity: 0.8;
}

.sidebar-overflow {
	position: absolute;
	overflow-y: scroll;
}

.sidebar-menu-size {
	width: 235px;
}

.avatar-max-height {
	max-height: 50px;
}

.logo-opacity {
	opacity: 0.99;
}

.center {
	text-align: center;
}

.menu-top {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
}

.dropdown-menu-top-alternative-style {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
}

.menu-header {
	color: #000000;
}

.menu-header-top {
	color: #FCFCFC;
}

.menu-text-default {
	color: #000000;
}

.menu-text-white {
	color: #FCFCFC;
}

.menu-item-text-default {
	color: #000000;
}

.menu-item-text-white {
	color: #FCFCFC;
}

.menu-title {
	color: #000000;
}

.menu-title-top {
	color: #FCFCFC;
}

.bg-light-black {
	background: #fefefe;
}

#menu-toggle {
    position: relative;
    float: left;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    overflow: visible;
}

.menu-toggle-left-margin {
    margin-left: 15px;
}

#content {
    display: block;
}

/* Sidebar */
#sidebar {
    float: left;
}

#sidebar .side-menu  {
    margin: 0;
}

.menu-toggled .side-menu {
    overflow: hidden;
}

.side-menu > li > button {
    display: inline-block;
    position: relative;
    z-index: 10;
    font-size: 12px;
    height: 42px;
    margin-bottom: -4px;
    text-align: center;
    opacity: 0.55;
}

.side-menu .menu-item {
    white-space: nowrap;
    z-index: 9;
    width: 188px;
    display: block;
    line-height: normal;
    text-align: left;
    -webkit-backface-visibility: hidden;
}

.side-menu span.menu-item {
    top: 0;
    padding: 13px 15px 13px 8px;
    font-weight: 600;
    text-transform: uppercase;
}

.side-menu .dropdown span.menu-item {
    top: 0;
}

.side-menu ul.menu-item {
    top: 42px;
    padding: 5px 0 13px;

}

.side-menu ul li > a {
    padding: 4px 8px;
    float: left;
    width: 100%;
}

ul.menu-item a.active {
    color: #FFD600;
}

.side-widgets {
    width: 188px;
    float: left;
    position: relative;
}

label {
	font-weight: bold;
}

caption {
	font-weight: bold;
}

.popover {
	max-width: 800px;
	width: auto;
}

.flag-selector {
	display:inline-block;
	width:35px;
	height:35px;
	cursor:pointer;
	margin:3px 0 -5px 5px;
}

.flag-selector img {
	margin-top: 7px;
}

p {
	overflow: auto;
}

input[type=checkbox] {
	opacity: 1 !important;
	position: inherit !important;
}

input[type=radio] {
	opacity: 1 !important;
	position: inherit !important;
}

.login-wrapper {
	position: absolute;
	top: 50px;
	width: 100%;
	margin-left: 0;
	animation: bounceInDownSmall 1s ease;
	-webkit-animation: bounceInDownSmall 1s ease;
	-moz-animation: bounceInDownSmall 1s ease;
	-ms-animation: bounceInDownSmall 1s ease;
	-o-animation: bounceInDownSmall 1s ease;
}
.login-wrapper.fadeOutUp {
	animation: fadeOutUp 0.5s ease-out;
	-webkit-animation: fadeOutUp 0.5s ease-out;
	-moz-animation: fadeOutUp 0.5s ease-out;
	-ms-animation: fadeOutUp 0.5s ease-out;
	-o-animation: fadeOutUp 0.5s ease-out;
	opacity: 0;
}
.login-wrapper .login-widget {
	margin: 0 auto;
	width: 400px;
	margin-top: 20px;
}
@media (max-width: 480px) {
	.login-wrapper .login-widget {
		width: 100%;
	}
}
.login-wrapper .login-widget .widget {
	box-shadow: 0 1px 15px -4px #000000;
	-moz-box-shadow: 0 1px 15px -4px #000000;
	-webkit-box-shadow: 0 1px 15px -4px #000000;
}

@media (max-width: 480px) {
	#header {
		height:0px;
	}
	
	.onlyBigWindows {
		visibility: hidden;
	}
	
	.loginForm {
		margin-left: 0%; 
		margin-right: 0%;
	}
	
	.loginForm form {
		margin-left: 5%; 
		margin-right: 5%;
	}

    .ad-mobile {
        display: block;
    }
    .ad-desktop {
        display: none;
    }

    #sidebar {
        float: left;
        display: none;
    }
}

@media (max-width: 767px) {
	#header {
		height:0px;
	}
	
	.onlyBigWindows {
		visibility: hidden;
	}
	
	.loginForm {
		margin-left: 5%; 
		margin-right: 5%;
	}
	
	.loginForm form {
		margin-left: 5%; 
		margin-right: 5%;
	}

    .ad-mobile {
        display: block;
    }
    .ad-desktop {
        display: none;
    }

    #sidebar {
        float: left;
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
	#header {
		height:0px;
	}
	
	.onlyBigWindows {
		visibility: hidden;
	}
	
	.loginForm {
		margin-left: 15%; 
		margin-right: 15%;
	}
	
	.loginForm form {
		margin-left: 5%; 
		margin-right: 5%;
	}

    .ad-mobile {
        display: none;
    }
    .ad-desktop {
        display: block;
    }

    #sidebar {
        float: left;
        display: block;
    }
}

@media (min-width: 980px) {

	.loginForm {
		margin-left: 20%; 
		margin-right: 20%;
	}
	
	.loginForm form {
		margin-left: 5%; 
		margin-right: 5%;
	}

    .ad-mobile {
        display: none;
    }
    .ad-desktop {
        display: block;
    }

    #sidebar {
        float: left;
        display: block;
    }
}

@media (min-width: 1200px) {
	.loginForm {
		margin-left: 25%; 
		margin-right: 25%;
	}
	
	.loginForm form {
		margin-left: 5%; 
		margin-right: 5%;
	}

    .ad-mobile {
        display: none;
    }
    .ad-desktop {
        display: block;
    }

    #sidebar {
        float: left;
        display: block;
    }
}


/* Loading */

.holder {
	width: 70px;
	height: 47px;
	position: relative;
}
.holder .circle {
	border-radius: 100% 100% 0 0;
	position: absolute;
	bottom: 0;
	left: 70%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transform-origin: bottom center;
	-ms-transform-origin: bottom center;
	transform-origin: bottom center;
}
.holder .circle:nth-child(1) {
	background: white;
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	width: 5px;
	height: 2.5px;
	z-index: 7;
	-webkit-animation: circle-1 10s infinite ease-in-out;
	animation: circle-1 10s infinite ease-in-out;
}
@-webkit-keyframes circle-1 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-360deg);
		transform: translateX(-50%) rotate(-360deg);
	}
}
@keyframes circle-1 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-360deg);
		transform: translateX(-50%) rotate(-360deg);
	}
}
.holder .circle:nth-child(2) {
	border: 2px solid white;
	border-bottom: none;
	border-radius: 7px 7px 0 0;
	width: 7px;
	height: 3.5px;
	z-index: 6;
	-webkit-animation: circle-2 10s infinite ease-in-out;
	animation: circle-2 10s infinite ease-in-out;
}
@-webkit-keyframes circle-2 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-720deg);
		transform: translateX(-50%) rotate(-720deg);
	}
}
@keyframes circle-2 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-720deg);
		transform: translateX(-50%) rotate(-720deg);
	}
}
.holder .circle:nth-child(3) {
	border: 2px solid white;
	border-bottom: none;
	border-radius: 14px 14px 0 0;
	width: 14px;
	height: 7px;
	z-index: 5;
	-webkit-animation: circle-3 10s infinite ease-in-out;
	animation: circle-3 10s infinite ease-in-out;
}
@-webkit-keyframes circle-3 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-1080deg);
		transform: translateX(-50%) rotate(-1080deg);
	}
}
@keyframes circle-3 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-1080deg);
		transform: translateX(-50%) rotate(-1080deg);
	}
}
.holder .circle:nth-child(4) {
	border: 2px solid white;
	border-bottom: none;
	border-radius: 21px 21px 0 0;
	width: 21px;
	height: 10.5px;
	z-index: 4;
	-webkit-animation: circle-4 10s infinite ease-in-out;
	animation: circle-4 10s infinite ease-in-out;
}
@-webkit-keyframes circle-4 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-1440deg);
		transform: translateX(-50%) rotate(-1440deg);
	}
}
@keyframes circle-4 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-1440deg);
		transform: translateX(-50%) rotate(-1440deg);
	}
}
.holder .circle:nth-child(5) {
	border: 2px solid white;
	border-bottom: none;
	border-radius: 28px 28px 0 0;
	width: 28px;
	height: 14px;
	z-index: 3;
	-webkit-animation: circle-5 10s infinite ease-in-out;
	animation: circle-5 10s infinite ease-in-out;
}
@-webkit-keyframes circle-5 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-1800deg);
		transform: translateX(-50%) rotate(-1800deg);
	}
}
@keyframes circle-5 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-1800deg);
		transform: translateX(-50%) rotate(-1800deg);
	}
}
.holder .circle:nth-child(6) {
	border: 2px solid white;
	border-bottom: none;
	border-radius: 35px 35px 0 0;
	width: 35px;
	height: 17.5px;
	z-index: 2;
	-webkit-animation: circle-6 10s infinite ease-in-out;
	animation: circle-6 10s infinite ease-in-out;
}
@-webkit-keyframes circle-6 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-2160deg);
		transform: translateX(-50%) rotate(-2160deg);
	}
}
@keyframes circle-6 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-2160deg);
		transform: translateX(-50%) rotate(-2160deg);
	}
}
.holder .circle:nth-child(7) {
	border: 2px solid white;
	border-bottom: none;
	border-radius: 42px 42px 0 0;
	width: 42px;
	height: 21px;
	z-index: 1;
	-webkit-animation: circle-7 10s infinite ease-in-out;
	animation: circle-7 10s infinite ease-in-out;
}
@-webkit-keyframes circle-7 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-2520deg);
		transform: translateX(-50%) rotate(-2520deg);
	}
}
@keyframes circle-7 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-2520deg);
		transform: translateX(-50%) rotate(-2520deg);
	}
}
.holder .circle:nth-child(8) {
	border: 2px solid white;
	border-bottom: none;
	border-radius: 49px 49px 0 0;
	width: 49px;
	height: 24.5px;
	z-index: 0;
	-webkit-animation: circle-8 10s infinite ease-in-out;
	animation: circle-8 10s infinite ease-in-out;
}
@-webkit-keyframes circle-8 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-2880deg);
		transform: translateX(-50%) rotate(-2880deg);
	}
}
@keyframes circle-8 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-2880deg);
		transform: translateX(-50%) rotate(-2880deg);
	}
}
.holder .circle:nth-child(9) {
	border: 2px solid white;
	border-bottom: none;
	border-radius: 56px 56px 0 0;
	width: 56px;
	height: 28px;
	z-index: -1;
	-webkit-animation: circle-9 10s infinite ease-in-out;
	animation: circle-9 10s infinite ease-in-out;
}
@-webkit-keyframes circle-9 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-3240deg);
		transform: translateX(-50%) rotate(-3240deg);
	}
}
@keyframes circle-9 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-3240deg);
		transform: translateX(-50%) rotate(-3240deg);
	}
}
.holder .circle:nth-child(10) {
	border: 2px solid white;
	border-bottom: none;
	border-radius: 63px 63px 0 0;
	width: 63px;
	height: 31.5px;
	z-index: -2;
	-webkit-animation: circle-10 10s infinite ease-in-out;
	animation: circle-10 10s infinite ease-in-out;
}
@-webkit-keyframes circle-10 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-3600deg);
		transform: translateX(-50%) rotate(-3600deg);
	}
}
@keyframes circle-10 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-3600deg);
		transform: translateX(-50%) rotate(-3600deg);
	}
}
.holder .circle:nth-child(11) {
	border: 2px solid white;
	border-bottom: none;
	border-radius: 70px 70px 0 0;
	width: 70px;
	height: 35px;
	z-index: -3;
	-webkit-animation: circle-11 10s infinite ease-in-out;
	animation: circle-11 10s infinite ease-in-out;
}
@-webkit-keyframes circle-11 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-3960deg);
		transform: translateX(-50%) rotate(-3960deg);
	}
}
@keyframes circle-11 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-3960deg);
		transform: translateX(-50%) rotate(-3960deg);
	}
}
.holder .circle:nth-child(12) {
	border: 2px solid white;
	border-bottom: none;
	border-radius: 77px 77px 0 0;
	width: 77px;
	height: 38.5px;
	z-index: -4;
	-webkit-animation: circle-12 10s infinite ease-in-out;
	animation: circle-12 10s infinite ease-in-out;
}
@-webkit-keyframes circle-12 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-4320deg);
		transform: translateX(-50%) rotate(-4320deg);
	}
}
@keyframes circle-12 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-4320deg);
		transform: translateX(-50%) rotate(-4320deg);
	}
}
.holder .circle:nth-child(13) {
	border: 2px solid white;
	border-bottom: none;
	border-radius: 84px 84px 0 0;
	width: 84px;
	height: 42px;
	z-index: -5;
	-webkit-animation: circle-13 10s infinite ease-in-out;
	animation: circle-13 10s infinite ease-in-out;
}
@-webkit-keyframes circle-13 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-4680deg);
		transform: translateX(-50%) rotate(-4680deg);
	}
}
@keyframes circle-13 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-4680deg);
		transform: translateX(-50%) rotate(-4680deg);
	}
}
.holder .circle:nth-child(14) {
	border: 2px solid white;
	border-bottom: none;
	border-radius: 91px 91px 0 0;
	width: 91px;
	height: 45.5px;
	z-index: -6;
	-webkit-animation: circle-14 10s infinite ease-in-out;
	animation: circle-14 10s infinite ease-in-out;
}
@-webkit-keyframes circle-14 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-5040deg);
		transform: translateX(-50%) rotate(-5040deg);
	}
}
@keyframes circle-14 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-5040deg);
		transform: translateX(-50%) rotate(-5040deg);
	}
}
.holder .circle:nth-child(15) {
	border: 2px solid white;
	border-bottom: none;
	border-radius: 98px 98px 0 0;
	width: 98px;
	height: 49px;
	z-index: -7;
	-webkit-animation: circle-15 10s infinite ease-in-out;
	animation: circle-15 10s infinite ease-in-out;
}
@-webkit-keyframes circle-15 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-5400deg);
		transform: translateX(-50%) rotate(-5400deg);
	}
}
@keyframes circle-15 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-5400deg);
		transform: translateX(-50%) rotate(-5400deg);
	}
}
.holder .circle:nth-child(16) {
	border: 2px solid white;
	border-bottom: none;
	border-radius: 105px 105px 0 0;
	width: 105px;
	height: 52.5px;
	z-index: -8;
	-webkit-animation: circle-16 10s infinite ease-in-out;
	animation: circle-16 10s infinite ease-in-out;
}
@-webkit-keyframes circle-16 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-5760deg);
		transform: translateX(-50%) rotate(-5760deg);
	}
}
@keyframes circle-16 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-5760deg);
		transform: translateX(-50%) rotate(-5760deg);
	}
}
.holder .circle:nth-child(17) {
	border: 2px solid white;
	border-bottom: none;
	border-radius: 112px 112px 0 0;
	width: 112px;
	height: 56px;
	z-index: -9;
	-webkit-animation: circle-17 10s infinite ease-in-out;
	animation: circle-17 10s infinite ease-in-out;
}
@-webkit-keyframes circle-17 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-6120deg);
		transform: translateX(-50%) rotate(-6120deg);
	}
}
@keyframes circle-17 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-6120deg);
		transform: translateX(-50%) rotate(-6120deg);
	}
}
.holder .circle:nth-child(18) {
	border: 2px solid white;
	border-bottom: none;
	border-radius: 119px 119px 0 0;
	width: 119px;
	height: 59.5px;
	z-index: -10;
	-webkit-animation: circle-18 10s infinite ease-in-out;
	animation: circle-18 10s infinite ease-in-out;
}
@-webkit-keyframes circle-18 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-6480deg);
		transform: translateX(-50%) rotate(-6480deg);
	}
}
@keyframes circle-18 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-6480deg);
		transform: translateX(-50%) rotate(-6480deg);
	}
}
.holder .circle:nth-child(19) {
	border: 2px solid white;
	border-bottom: none;
	border-radius: 126px 126px 0 0;
	width: 126px;
	height: 63px;
	z-index: -11;
	-webkit-animation: circle-19 10s infinite ease-in-out;
	animation: circle-19 10s infinite ease-in-out;
}
@-webkit-keyframes circle-19 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-6840deg);
		transform: translateX(-50%) rotate(-6840deg);
	}
}
@keyframes circle-19 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-6840deg);
		transform: translateX(-50%) rotate(-6840deg);
	}
}
.holder .circle:nth-child(20) {
	border: 2px solid white;
	border-bottom: none;
	border-radius: 133px 133px 0 0;
	width: 133px;
	height: 66.5px;
	z-index: -12;
	-webkit-animation: circle-20 10s infinite ease-in-out;
	animation: circle-20 10s infinite ease-in-out;
}
@-webkit-keyframes circle-20 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-7200deg);
		transform: translateX(-50%) rotate(-7200deg);
	}
}
@keyframes circle-20 {
	0% {
		-webkit-transform: translateX(-50%) rotate(0deg);
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translateX(-50%) rotate(-7200deg);
		transform: translateX(-50%) rotate(-7200deg);
	}
}
