<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="@{_fragment/_headTag} :: headTag">
</head>
<body>
<div th:remove="tag" th:include="@{_fragment/_apolo-template} :: apolo-template"></div>

<div id="page-header">
    <!-- RIBBON -->
    <div id="ribbon">
        <ol class="breadcrumb">
            <li th:text="#{user.group.list.title}">

            </li>
        </ol>
    </div>
    <!-- END RIBBON -->
</div>

<div id="page-content">
    <section class="content">
        <div th:with="searchUrlParam=${'/web/'} + ${#authentication.systemUser.tenant.url} + ${'/user-group/search'}">
            <div th:remove="tag"
                 th:include="@{_fragment/_search} ::
                        search (
                                searchUrl=${searchUrlParam},
                                placeholderTerm=${'user.group.search.field'}
                                )"
                    >
                search Form
            </div>
        </div>

        <br />
        <center>
            <div th:remove="tag" th:include="@{_fragment/_pagination} :: pagination"></div>
        </center>
        <div class="table-responsive" th:if="${userGroupList != null} and ${!userGroupList.isEmpty()}">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th th:text="#{user.group.name}">
                        user.group.name
                    </th>
                    <th th:text="#{user.group.permissions}">
                        user.group.permissions
                    </th>
                    <th th:text="#{user.status}">
                        user.status
                    </th>
                    <th th:text="#{common.actions}"
                        sec:authorize="@apoloSecurity.hasPermission('USER_PERMISSION_VIEW', 'USER_PERMISSION_EDIT', 'USER_PERMISSION_REMOVE')">
                        common.actions
                    </th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="group : ${userGroupList}"
                    th:id="${'userGroup_'} + ${group.id}">

                    <td>
                        <a th:text="${group.name}"
                           sec:authorize="@apoloSecurity.hasPermission('USER_PERMISSION_VIEW')"
                           th:href='@{|/web/${#authentication.systemUser.tenant.url}/user-group/view/${group.id}|}'
                           class="btn btn-link">
                            ${group.name}
                        </a>
                            <span th:text="${group.name}"
                                  sec:authorize="!@apoloSecurity.hasPermission('USER_PERMISSION_VIEW')">
                                ${group.name}
                            </span>
                    </td>

                    <td>
                        <ul class="list-group">
                            <li th:each="permission : ${group.permissions}"
                                th:with="permissionName=${'user.permission.'} + ${permission}"
                                th:text="#{${permissionName}}"
                                class="list-group-item">
                                permissionName
                            </li>
                        </ul>
                    </td>
                    <td th:with="groupStatus=${'user.status.'} + ${group.status}"
                        th:text="#{${groupStatus}}">
                        groupStatus
                    </td>


                    <td sec:authorize="@apoloSecurity.hasPermission('USER_PERMISSION_VIEW', 'USER_PERMISSION_EDIT', 'USER_PERMISSION_REMOVE')">
                        <div class="btn-group btn-group-sm">
                            <a sec:authorize="@apoloSecurity.hasPermission('USER_PERMISSION_VIEW')"
                               th:href='@{|/web/${#authentication.systemUser.tenant.url}/user-group/view/${group.id}|}'
                               class="btn btn-default"
                               data-toggle="tooltip"
                               th:title="#{common.show}">
                                <i class="fa fa-search-plus"></i>
                            </a>
                            <a sec:authorize="@apoloSecurity.hasPermission('USER_PERMISSION_EDIT')"
                               th:href='@{|/web/${#authentication.systemUser.tenant.url}/user-group/edit/${group.id}|}'
                               class="btn btn-default"
                               data-toggle="tooltip"
                               th:title="#{common.edit}">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                            <a sec:authorize="@apoloSecurity.hasPermission('USER_PERMISSION_REMOVE')"
                               href='#'
                               class="btn btn-default"
                               th:with="removeAction=${'removeConfirmationDialogOpen('''} + ${'/web/'} + ${#authentication.systemUser.tenant.url} + ${'/user-group/remove/'} + ${group.id} + ${''', ''userGroup_'} + ${group.id} + ${''');'}"
                               th:onclick="${removeAction}"
                               data-toggle="tooltip"
                               th:title="#{common.remove}">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-body" th:if="${userGroupList == null} or ${userGroupList.isEmpty()}">
            <p th:text="#{common.nodatafound}">
                common.nodatafound
            </p>
        </div>
        <center>
            <div th:remove="tag" th:include="@{_fragment/_pagination} :: pagination"></div>
        </center>
    </section>
</div>
</body>
</html>