<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body th:fragment="configuration-form">

<input type="hidden" id="id" name="id" th:value="${configuration.id}" />
<input type="hidden" id="tenant.id" name="tenant.id" th:value="${configuration.tenant.id}" />
<input type="hidden" id="tenant.name" name="tenant.name" th:value="${configuration.tenant.name}" />
<input type="hidden" id="tenant.url" name="tenant.url" th:value="${configuration.tenant.url}" />

<ul class="nav nav-tabs" id="formTab" th:with="style=${!readOnly ? 'display: none;' : 'display: block;' }">
    <li class="active">
        <a href="#home">
            <span class="fa fa-tasks"></span>
        </a>
    </li>
    <li th:style="${style}">
        <a href="#authorShipTab">
            <span class="fa fa-user"></span>
        </a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="home">

        <div class="form-group">
            <label for="emailFrom" class="control-label" >
                emailFrom
            </label>

            <input type="text"
                   id="emailFrom"
                   name="emailFrom"
                   class="form-control focus"
                   th:value="${configuration.emailFrom}"
                   th:readonly="${readOnly}"
                    />
        </div>

        <div class="form-group">
            <label for="emailPassword" class="control-label" >
                emailPassword
            </label>

            <input type="password"
                   id="emailPassword"
                   name="emailPassword"
                   class="form-control focus"
                   th:value="${configuration.emailPassword}"
                   th:readonly="${readOnly}"
                    />
        </div>

        <div class="form-group">
            <label for="smtpHost" class="control-label" >
                smtpHost
            </label>

            <input type="text"
                   id="smtpHost"
                   name="smtpHost"
                   class="form-control focus"
                   th:value="${configuration.smtpHost}"
                   th:readonly="${readOnly}"
                    />
        </div>

        <div class="form-group">
            <label for="smtpPort" class="control-label" >
                smtpPort
            </label>

            <input type="number"
                   id="smtpPort"
                   name="smtpPort"
                   class="form-control focus"
                   th:value="${configuration.smtpPort}"
                   th:readonly="${readOnly}"
                    />
        </div>

        <div class="form-group">
            <label for="useTLS" class="control-label" >
                useTLS
            </label>

            <input type="checkbox"
                   id="useTLS"
                   name="useTLS"
                   class="form-control focus"
                   th:value="${configuration.useTLS}"
                   th:readonly="${readOnly}"
                    />
        </div>

    </div>

    <div class="tab-pane" id="authorShipTab">
        <div th:remove="tag" th:include="@{_fragment/_authorship} :: authorship (entity=${configuration})"></div>
    </div>
</div>
<div id="overlay" class="transparent"></div>

<div id="menu-space" style="display:none;">&nbsp;</div>
</body>
</html>