<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="@{_fragment/_headTag} :: headTag">
</head>
<body>
<div th:remove="tag" th:include="@{_fragment/_apolo-template} :: apolo-template"></div>

<div id="page-content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong th:text="#{configuration.list}" />
        </div>
        <div class="panel-body">

            <center>
                <div th:remove="tag" th:include="@{_fragment/_pagination} :: pagination"></div>
            </center>
            <div class="table-responsive" th:if="${configurationList != null} and ${!configurationList.isEmpty()}">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>
                            emailFrom
                        </th>
                        <th>
                            smtpHost
                        </th>
                        <th>
                            smtpPort
                        </th>
                        <th>
                            useTLS
                        </th>

                        <th th:text="#{common.actions}"
                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CONFIGURATION_VIEW', 'ROLE_CONFIGURATION_EDIT', 'ROLE_CONFIGURATION_REMOVE')">
                            common.actions
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="conf : ${configurationList}"
                        th:id="${'configuration_'} + ${conf.id}">

                        <td th:text="${conf.emailFrom}">
                            xxx
                        </td>
                        <td th:text="${conf.smtpHost}">
                            xxx
                        </td>
                        <td th:text="${conf.smtpPort}">
                            xxx
                        </td>
                        <td th:text="${conf.useTLS}">
                            xxx
                        </td>

                        <td sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CONFIGURATION_VIEW', 'ROLE_CONFIGURATION_EDIT', 'ROLE_CONFIGURATION_REMOVE')">
                            <div class="btn-group btn-group-sm">
                                <a th:href='@{|/${#authentication.systemUser.tenant.url}/configuration/view/${conf.id}|}'
                                   class="btn btn-default"
                                   data-toggle="tooltip"
                                   th:title="#{common.show}">
                                    <i class="fa fa-search-plus"></i>
                                </a>
                                <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CONFIGURATION_EDIT')"
                                   th:href='@{|/${#authentication.systemUser.tenant.url}/configuration/edit/${conf.id}|}'
                                   class="btn btn-default"
                                   data-toggle="tooltip"
                                   th:title="#{common.edit}">
                                    <i class="fa fa-pencil-square-o"></i>
                                </a>
                                <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CONFIGURATION_REMOVE')"
                                   href='#'
                                   class="btn btn-default"
                                   th:with="removeAction=${'removeConfirmationDialogOpen('''} + ${'/'} + ${#authentication.systemUser.tenant.url} + ${'/configuration/remove/'} + ${conf.id} + ${''', ''configuration_'} + ${conf.id} + ${''');'}"
                                   th:onclick="${removeAction}"
                                   data-toggle="tooltip"
                                   th:title="#{common.remove}">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-body" th:if="${configurationList == null} or ${configurationList.isEmpty()}">
                <p th:text="#{common.nodatafound}">
                    common.nodatafound
                </p>
            </div>
            <center>
                <div th:remove="tag" th:include="@{_fragment/_pagination} :: pagination"></div>
            </center>
        </div>
    </div>
</div>
</body>
</html>