<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="@{_fragment/_headTag} :: headTag">
</head>
<body>
<div th:remove="tag" th:include="@{_fragment/_header} :: header"></div>

<div id="wrapper" class="preload">

    <div th:remove="tag" th:include="@{_fragment/_message} :: message"></div>

    <div class="container ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong th:text="#{configuration.view}" />
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <div th:remove="tag" th:include="@{configuration/_form} :: configuration-form"></div>

                    <div class="btn-group" role="group">
                        <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER_EDIT')"
                           th:href='@{|/${#authentication.systemUser.tenant.url}/configuration/edit/${configuration.id}|}' class="btn btn-default">
                            <i class="fa fa-pencil-square-o"></i>
                            <span th:text="#{common.edit}" />
                        </a>
                        <a href='#' class="btn btn-default back" >
                            <i class="fa fa-backward"></i>
                            <span th:text="#{common.back}" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:remove="tag" th:include="@{_fragment/_footer} :: footer "></div>
</body>
</html>