<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="@{_fragment/_headTag} :: headTag">
</head>
<body>
<div th:remove="tag" th:include="@{_fragment/_apolo-template} :: apolo-template"></div>

<div id="page-content">
    <section class="content-header">
        <h1 th:text="#{campaign.list}">
            Widgets
        </h1>
    </section>

    <section class="content">
        <div th:with="searchUrlParam=${'/'} + ${#authentication.systemUser.tenant.url} + ${'/campaign/search'}">
            <div th:remove="tag"
                 th:include="@{_fragment/_search} ::
                        search (
                                searchUrl=${searchUrlParam},
                                placeholderTerm=${'campaign.search.field'}
                                )"
                    >
                search Form
            </div>
        </div>

        <br />
        <center>
            <div th:remove="tag" th:include="@{_fragment/_pagination} :: pagination"></div>
        </center>
        <div class="table-responsive" th:if="${campaignList != null} and ${!campaignList.isEmpty()}">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th th:text="#{campaign.name}">
                        campaign.name
                    </th>
                    <th th:text="#{campaign.subject}">
                        campaign.subject
                    </th>
                    <th th:text="#{campaign.status}">
                        campaign.status
                    </th>
                    <th th:text="#{common.actions}"
                        sec:authorize="@apoloSecurity.hasPermission('CAMPAIGN_LIST', 'CAMPAIGN_MANAGER', 'CAMPAIGN_SEND')">
                        common.actions
                    </th>
                </tr>
                </thead>

                <tbody>
                <tr th:id="${'campaign_'} + ${campaign.id}" th:each="campaign : ${campaignList}">

                    <td>
                        <a th:href='@{|/${#authentication.systemUser.tenant.url}/campaign/view/${campaign.id}|}'
                           th:text="${campaign.name}"
                           class="btn btn-link" >
                            ${campaign.name}
                        </a>
                    </td>
                    <td th:text="${campaign.subject}">
                        ${campaign.email}
                    </td>
                    <td th:with="status=${'campaign.status.'} + ${campaign.status}"
                        th:text="#{${status}}">
                        status
                    </td>

                    <td sec:authorize="@apoloSecurity.hasPermission('CAMPAIGN_LIST', 'CAMPAIGN_MANAGER', 'CAMPAIGN_SEND')">
                        <div class="btn-group btn-group-sm">
                            <a th:href='@{|/${#authentication.systemUser.tenant.url}/campaign/view/${campaign.id}|}'
                               class="btn btn-default"
                               data-toggle="tooltip"
                               th:title="#{common.show}">
                                <i class="fa fa-search-plus"></i>
                            </a>
                            <a sec:authorize="@apoloSecurity.hasPermission('CAMPAIGN_MANAGER')"
                               th:href='@{|/${#authentication.systemUser.tenant.url}/campaign/edit/${campaign.id}|}'
                               th:if="${statusSENT != campaign.status} and ${statusWIP != campaign.status} and ${statusUPDATING != campaign.status}"
                               class="btn btn-default"
                               data-toggle="tooltip"
                               th:title="#{common.edit}">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                            <a sec:authorize="@apoloSecurity.hasPermission('CAMPAIGN_MANAGER')"
                               href='#'
                               class="btn btn-default"
                               th:if="${statusSENT != campaign.status} and ${statusWIP != campaign.status} and ${statusUPDATING != campaign.status}"
                               th:with="removeAction=${'removeConfirmationDialogOpen('''} + ${'/'} + ${#authentication.systemUser.tenant.url} + ${'/campaign/remove/'} + ${campaign.id} + ${''', ''campaign_'} + ${campaign.id} + ${''');'}"
                               th:onclick="${removeAction}"
                               data-toggle="tooltip"
                               th:title="#{common.remove}">
                                <i class="fa fa-times"></i>
                            </a>
                            <a sec:authorize="@apoloSecurity.hasPermission('CAMPAIGN_MANAGER', 'CAMPAIGN_SEND')"
                               th:if="${statusSENT != campaign.status} and ${statusWIP != campaign.status} and ${statusUPDATING != campaign.status}"
                               th:href='@{|/${#authentication.systemUser.tenant.url}/campaign/test/${campaign.id}|}'
                               class="btn btn-default"
                               data-toggle="tooltip"
                               th:title="#{campaign.test}">
                                <i class="fa fa-refresh"></i>
                            </a>
                            <a sec:authorize="@apoloSecurity.hasPermission('CAMPAIGN_SEND')"
                               th:if="${statusSENT != campaign.status} and ${statusWIP != campaign.status} and ${statusUPDATING != campaign.status}"
                               th:href='@{|/${#authentication.systemUser.tenant.url}/campaign/send/${campaign.id}|}'
                               class="btn btn-default"
                               data-toggle="tooltip"
                               th:title="#{campaign.send}">
                                <i class="fa fa-send"></i>
                            </a>
                            <a sec:authorize="@apoloSecurity.hasPermission('CAMPAIGN_MANAGER')"
                               th:href='@{|/${#authentication.systemUser.tenant.url}/campaign/copy/${campaign.id}|}'
                               th:if="${statusSENT == campaign.status} and ${statusWIP != campaign.status} and ${statusUPDATING != campaign.status}"
                               class="btn btn-default"
                               data-toggle="tooltip"
                               th:title="#{common.copy}">
                                <i class="fa fa-clone"></i>
                            </a>

                            <a sec:authorize="@apoloSecurity.hasPermission('CAMPAIGN_MANAGER')"
                               th:href='@{|/${#authentication.systemUser.tenant.url}/campaign/update/${campaign.id}|}'
                               th:if="${statusSENT == campaign.status}"
                               class="btn btn-default"
                               data-toggle="tooltip"
                               th:title="#{campaign.update.action}">
                                <i class="fa fa-wrench"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-body" th:if="${campaignList == null} or ${campaignList.isEmpty()}">
            <p th:text="#{common.nodatafound}">
                common.nodatafound
            </p>
        </div>
        <center>
            <div th:remove="tag" th:include="@{_fragment/_pagination} :: pagination"></div>
        </center>
    </section>
</div>
</body>
</html>