<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="@{_fragment/_headTag} :: headTag">
</head>
<body>
<div th:remove="tag" th:include="@{_fragment/_apolo-template-menuless} :: apolo-template"></div>

<div id="page-content">
    <section class="content-header">
        <h1 th:text="#{user.forgot-password}">
            Widgets
        </h1>
    </section>

    <section class="content">
        <form id="userForm" th:action="@{|/web/${tenant.url}/forgot-password-send|}" method="post" role="form">
            <div class="form-group">
                <label for="email" class="control-label">
                    <span th:text="#{user.email}" />
                </label>
                <div class="input-append">
                    <input type="text" id="email" name="email" class="form-control"/>
                    <blockquote>
                        <small th:text="#{user.forgot-password.blockquote}">
                            user.forgot-password.msg
                        </small>
                    </blockquote>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-send"></i>
                    <span th:text="#{common.send}" />
                </button>

                <a th:with="url=${tenant != null ? tenant.url : ''}"
                        th:href='@{|/${url}|}' class="btn btn-default">
                    <i class="fa fa-times"></i>
                    <span th:text="#{common.cancel}" />
                </a>
            </div>
        </form>
    </section>
</div>
</body>
</html>