<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="@{_fragment/_headTag} :: headTag">
</head>
<body>
<div th:remove="tag" th:include="@{_fragment/_header} :: header"></div>

<div id="wrapper" class="preload">

    <div th:remove="tag" th:include="@{_fragment/_message} :: message"></div>

    <div class="container ">
        <div class="row ">
            <div class="col-sm-12">
                <div class="alert alert-danger">
                    <h2 th:text="#{error.fatal.code}">
                        error.fatal.code
                    </h2>
                    <h3 th:text="#{error.fatal.title}">
                        error.fatal.title
                    </h3>
                    <p th:text="#{error.fatal.message}">
                        error.fatal.message
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:remove="tag" th:include="@{_fragment/_footer} :: footer"></div>
</body>
</html>