<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	
	<security:http use-expressions="true" auto-config="false" disable-url-rewriting="true" create-session="ifRequired">
		<security:form-login login-page="/auth/login" authentication-failure-url="/auth/loginfailed" default-target-url="/user" />
		<security:access-denied-handler error-page="/error/403" />
		
		<security:intercept-url pattern="/uploadedfiles/**" access="isAuthenticated()" />
		<security:intercept-url pattern="/auth/**" access="permitAll" />
		<security:intercept-url pattern="/install/**" access="permitAll" />
		<security:intercept-url pattern="/resources/**" access="permitAll" />
		<security:intercept-url pattern="/error/**" access="permitAll" />
		<security:intercept-url pattern="/about" access="permitAll" />
		<security:intercept-url pattern="/" access="permitAll" />
		<security:intercept-url pattern="/**" access="isAuthenticated()" />
		
		<security:logout logout-url="/auth/logout" />
	</security:http>

	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider user-service-ref="userDetailsService">
			<security:password-encoder hash="md5"/>
		</security:authentication-provider>
	</security:authentication-manager>

	<bean id="userDetailsService" class="br.apolo.business.service.impl.UserServiceImpl" />

    <security:global-method-security secured-annotations="enabled" metadata-source-ref="securedAnnotationMetadataSource" />
    
	<bean id="securedAnnotationMetadataSource" class="org.springframework.security.access.annotation.SecuredAnnotationSecurityMetadataSource">
		<constructor-arg name="annotationMetadataExtractor">
			<bean class="br.apolo.security.EnumAnnotationMetadataExtractor" />
		</constructor-arg>
	</bean>
</beans>