<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	
	<security:http use-expressions="true" auto-config="false" disable-url-rewriting="true" create-session="ifRequired">
		<security:form-login login-page="/auth/login" authentication-failure-url="/auth/loginfailed" default-target-url="/" />
		<security:access-denied-handler error-page="/error/403" />
		
		<security:intercept-url pattern="/user/save" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER_CREATE') or hasRole('ROLE_USER_EDIT')" />
		<security:intercept-url pattern="/user/new" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER_CREATE')" />
		<security:intercept-url pattern="/user/edit/**" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER_EDIT')" />
		<security:intercept-url pattern="/user/remove/**" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER_REMOVE')" />
		<security:intercept-url pattern="/user/list" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER_LIST')" />
		<security:intercept-url pattern="/user/view/**" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER_VIEW') or hasRole('ROLE_USER_LIST')" />
		<security:intercept-url pattern="/user/search" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER_LIST')" />
		<security:intercept-url pattern="/user/search-form" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER_LIST')" />
		
		<security:intercept-url pattern="/user-group/save" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER_PERMISSION_CREATE') or hasRole('ROLE_USER_PERMISSION_EDIT')" />
		<security:intercept-url pattern="/user-group/new" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER_PERMISSION_CREATE')" />
		<security:intercept-url pattern="/user-group/edit/**" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER_PERMISSION_EDIT')" />
		<security:intercept-url pattern="/user-group/remove/**" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER_PERMISSION_REMOVE')" />
		<security:intercept-url pattern="/user-group/list" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER_PERMISSION_LIST')" />
		<security:intercept-url pattern="/user-group/view/**" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER_PERMISSION_VIEW') or hasRole('ROLE_USER_PERMISSION_LIST')" />
		<security:intercept-url pattern="/user-group/search" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER_PERMISSION_LIST')" />
		<security:intercept-url pattern="/user-group/search-form" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER_PERMISSION_LIST')" />

		<security:intercept-url pattern="/monitoring" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/monitoring/**" access="hasRole('ROLE_ADMIN')" />
		
		<security:intercept-url pattern="/" access="permitAll" />
		<security:intercept-url pattern="/auth/**" access="permitAll" />
		<security:intercept-url pattern="/resources/**" access="permitAll" />
		<security:intercept-url pattern="/error/**" access="permitAll" />
		<security:intercept-url pattern="/**" access="isAuthenticated()" />
		
		<security:logout logout-url="/auth/logout" />
	</security:http>

	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider user-service-ref="userDetailsService">
			<security:password-encoder hash="md5"/>
		</security:authentication-provider>
	</security:authentication-manager>

	<bean id="userDetailsService" class="br.apolo.business.service.impl.UserServiceImpl" />

    <security:global-method-security secured-annotations="enabled" metadata-source-ref="securedAnnotationMetadataSource" />
    
	<bean id="securedAnnotationMetadataSource" class="org.springframework.security.access.annotation.SecuredAnnotationSecurityMetadataSource">
		<constructor-arg name="annotationMetadataExtractor">
			<bean class="br.apolo.security.EnumAnnotationMetadataExtractor" />
		</constructor-arg>
	</bean>
</beans>