<div ng-include="'app/views/partials/_message.html'"></div>

<input type="hidden"
        id="id"
        name="id"
        ng-model="ctrl.tenant.id"
    />

<input type="hidden"
       id="status"
       name="status"
       ng-model="ctrl.tenant.status"
        />

<div class="row container-form">

    <div class="p ng-scope">
        <label for="name" translate="tenant.theme">
            Name
        </label>
        <div class="row">
            <label class="col-sm-1">
                <span class="col-xs-12 bg-info">
                    <center>
                        <input type="radio"
                               name="setting-theme"
                               ng-model="ctrl.tenant.theme"
                               ng-disabled="isReadonly"
                               value="theme-a"
                               class="ng-pristine ng-untouched ng-valid ng-empty"/>
                    </center>
                </span>
                <span class="col-xs-12 bg-white">
                    &nbsp;
                </span>
            </label>

            <label class="col-sm-1">
                <span class="col-xs-12 bg-green">
                    <center>
                        <input type="radio"
                               name="setting-theme"
                               ng-model="ctrl.tenant.theme"
                               ng-disabled="isReadonly"
                               value="theme-b"
                               class="ng-pristine ng-untouched ng-valid ng-empty"/>
                    </center>
                </span>
                <span class="col-xs-12 bg-white">
                    &nbsp;
                </span>
            </label>

            <label class="col-sm-1">
                <span class="col-xs-12 bg-purple">
                    <center>
                        <input type="radio"
                               name="setting-theme"
                               ng-model="ctrl.tenant.theme"
                               ng-disabled="isReadonly"
                               value="theme-c"
                               class="ng-pristine ng-untouched ng-valid ng-empty"/>
                    </center>
                </span>
                <span class="col-xs-12 bg-white">
                    &nbsp;
                </span>
            </label>

            <label class="col-sm-1">
                <span class="col-xs-12 bg-danger">
                    <center>
                        <input type="radio"
                               name="setting-theme"
                               ng-model="ctrl.tenant.theme"
                               ng-disabled="isReadonly"
                               value="theme-d"
                               class="ng-pristine ng-untouched ng-valid ng-empty"/>
                    </center>
                </span>
                <span class="col-xs-12 bg-white">
                    &nbsp;
                </span>
            </label>

            <label class="col-sm-1">
                <span class="col-xs-12 bg-info">
                    <center>
                        <input type="radio"
                               name="setting-theme"
                               ng-model="ctrl.tenant.theme"
                               ng-disabled="isReadonly"
                               value="theme-e"
                               class="ng-pristine ng-untouched ng-valid ng-empty"/>
                    </center>
                </span>
                <span class="col-xs-12 bg-gray-dark">
                    &nbsp;
                </span>
            </label>

            <label class="col-sm-1">
                <span class="col-xs-12 bg-green">
                    <center>
                        <input type="radio"
                               name="setting-theme"
                               ng-model="ctrl.tenant.theme"
                               ng-disabled="isReadonly"
                               value="theme-f"
                               class="ng-pristine ng-untouched ng-valid ng-empty"/>
                    </center>
                </span>
                <span class="col-xs-12 bg-gray-dark">
                    &nbsp;
                </span>
            </label>

            <label class="col-sm-1">
                <span class="col-xs-12 bg-purple">
                    <center>
                        <input type="radio"
                               name="setting-theme"
                               ng-model="ctrl.tenant.theme"
                               ng-disabled="isReadonly"
                               value="theme-g"
                               class="ng-pristine ng-untouched ng-valid ng-empty"/>
                    </center>
                </span>
                <span class="col-xs-12 bg-gray-dark">
                    &nbsp;
                </span>
            </label>

            <label class="col-sm-1">
                <span class="col-xs-12 bg-danger">
                    <center>
                        <input type="radio"
                               name="setting-theme"
                               ng-model="ctrl.tenant.theme"
                               ng-disabled="isReadonly"
                               value="theme-h"
                               class="ng-pristine ng-untouched ng-valid ng-empty"/>
                    </center>
                </span>
                <span class="col-xs-12 bg-gray-dark">
                    &nbsp;
                </span>
            </label>
        </div>
    </div>

    <div class="form-group has-feedback col-md-12 col-sm-12">
        <label for="name" translate="tenant.name">
          Name
        </label>
        <input type="text"
                id="name"
                name="name"
                placeholder="{{'tenant.name' | translate}}"
                ng-model="ctrl.tenant.name"
                required="required"
                class="form-control"
                ng-readonly="isReadonly"
            />
    </div>

    <div class="form-group has-feedback col-md-12 col-sm-12">
        <label for="url" translate="tenant.url">
            URL
        </label>
        <input type="text"
               id="url"
               name="url"
               placeholder="{{'tenant.url' | translate}}"
               ng-model="ctrl.tenant.url"
               required="required"
               class="form-control"
               ng-readonly="isReadonly"
                />
    </div>

    <div class="form-group has-feedback col-md-12 col-sm-12">
        <label for="showAdds" translate="tenant.showAdds">
            showAdds
        </label>
        <input type="checkbox"
               id="showAdds"
               name="showAdds"
               placeholder="{{'tenant.showAdds' | translate}}"
               ng-model="ctrl.tenant.showAdds"
               class="form-control"
               ng-readonly="isReadonly"
               ng-disabled="isReadonly"
                />
    </div>

</div>
