<div ng-include="'app/views/partials/_message.html'"></div>

<input type="hidden"
        id="id"
        name="id"
        ng-model="ctrl.tenant.id"
    />

<input type="hidden"
       id="status"
       name="status"
       ng-model="ctrl.tenant.status"
        />

<div class="row">

    <div class="form-group has-feedback col-md-12 col-sm-12">
        <label for="name" translate="tenant.name">
          Name
        </label>
        <input type="text"
                id="name"
                name="name"
                placeholder="{{'tenant.name' | translate}}"
                ng-model="ctrl.tenant.name"
                required="required"
                class="form-control"
                ng-readonly="isReadonly"
            />
    </div>

    <div class="form-group has-feedback col-md-12 col-sm-12">
        <label for="url" translate="tenant.url">
            URL
        </label>
        <input type="text"
               id="url"
               name="url"
               placeholder="{{'tenant.url' | translate}}"
               ng-model="ctrl.tenant.url"
               required="required"
               class="form-control"
               ng-readonly="isReadonly"
                />
    </div>

    <div class="form-group has-feedback col-md-12 col-sm-12">
        <label for="showAdds" translate="tenant.showAdds">
            showAdds
        </label>
        <input type="checkbox"
               id="showAdds"
               name="showAdds"
               placeholder="{{'tenant.showAdds' | translate}}"
               ng-model="ctrl.tenant.showAdds"
               class="form-control"
               ng-readonly="isReadonly"
               ng-disabled="isReadonly"
                />
    </div>

</div>
