<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
      <head th:include="@{_fragment/_headTag} :: headTag">
      </head>
      <body>
            <div th:remove="tag" th:include="@{_fragment/_header} :: header"></div>

            <div id="wrapper" class="preload">

                  <div th:remove="tag" th:include="@{_fragment/_message} :: message"></div>

                  <div class="container ">
                        <div class="row ">
                              <div class="media">
                                    <div class="col-md-4">
                                          <img class="img-responsive" th:src="@{'/resources/app/img/favicon.png'}" />
                                    </div>
                                    <div class="media-body col-md-8" style="text-align: justify">
                                          <h4 class="media-heading" th:text="#{view.index.apolo.title}" />
                                          <p th:text="#{view.index.hello}" data-htmlEscape="false" />
                                    </div>
                              </div>
                        </div>

                  </div>

            </div>

            <div th:remove="tag" th:include="@{_fragment/_footer} :: footer"></div>
      </body>
</html>