<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:include="@{_fragment/_headTag} :: headTag">
    </head>
    <body class="animated fadeInDown">

    <div id="main" role="main">

        <!-- MAIN CONTENT -->
        <div id="content" class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                    <div class="well no-padding">
                        <form th:action="@{/web/login}" method="post" role="form" class="smart-form client-form">
                            <header>
                                <a th:href="${#authorization.expression('@apoloSecurity.isAuthenticated()') == true} ? @{|/web/${#authentication.systemUser.tenant.url}/user|} : @{|/web/${tenant.url}|}">

                                    <!-- logo for regular state and mobile devices -->
                                    <span class="logo-lg">
                                        <strong>
                                            <img class="logo-opacity" th:if="${#authorization.expression('@apoloSecurity.isAuthenticated()') == true}
                                                                    and ${#authentication.systemUser.tenant.logo != null}"
                                                 th:src="@{|/web/${#authentication.systemUser.tenant.url}/uploadedfiles/Tenant/${#authentication.systemUser.tenant.id}/${#authentication.systemUser.tenant.logo}|}"
                                                 th:width="${#authentication.systemUser.tenant.logoWidth} + ${'px'}"
                                                 th:height="${#authentication.systemUser.tenant.logoHeight} + ${'px'}"
                                                 th:style="${'width: '} + ${#authentication.systemUser.tenant.logoWidth} + ${'px; height: '} + ${#authentication.systemUser.tenant.logoHeight} + ${'px;'}"
                                                    />

                                            <img class="logo-opacity" th:if="${#authorization.expression('@apoloSecurity.isAuthenticated()') != true}
                                                                    and ${tenant != null}
                                                                    and ${tenant.logo != null}"
                                                 th:src="@{|/web/${tenant.url}/uploadedfiles/Tenant/${tenant.id}/${tenant.logo}|}"
                                                 th:width="${tenant.logoWidth} + ${'px'}"
                                                 th:height="${tenant.logoHeight} + ${'px'}"
                                                 th:style="${'width: '} + ${tenant.logoWidth} + ${'px; height: '} + ${tenant.logoHeight} + ${'px;'}"
                                                    />

                                            <span class="logo-opacity" th:if="${#authorization.expression('@apoloSecurity.isAuthenticated()') == true}
                                                            and ${#authentication.systemUser.tenant != null}
                                                            and ${#authentication.systemUser.tenant.showName == true}
                                                            and ${#authentication.systemUser.tenant.name != null}"
                                                  th:text="${#authentication.systemUser.tenant.name}">

                                            </span>

                                            <span class="logo-opacity" th:if="${#authorization.expression('@apoloSecurity.isAuthenticated()') != true}
                                                            and ${tenant != null}
                                                            and ${tenant.showName == true}
                                                            and ${tenant.name != null}"
                                                  th:text="${tenant.name}">

                                            </span>

                                            <img class="logo-opacity" th:if="${#authorization.expression('@apoloSecurity.isAuthenticated()') == false}
                                                                            and ${tenant == null}"
                                                 th:src="@{'/resources/app/img/favicon.png'}"
                                                 width="12"
                                                 height="15"
                                                 style="width: 12px; height: 15px;"
                                                    />
                                            <span class="logo-opacity" th:if="${#authorization.expression('@apoloSecurity.isAuthenticated()') == false}
                                                                            and ${tenant == null}"
                                                  th:text="#{app.title}"
                                                    />
                                        </strong>
                                    </span>
                                </a>
                            </header>

                            <fieldset>

                                <section>
                                    <div class="login-box-msg" th:remove="tag" th:include="@{_fragment/_message} :: message"></div>
                                </section>

                                <section>
                                    <input type="hidden"
                                           id="tenant"
                                           name="tenant"
                                           onchange="changeUsername()"
                                           th:value="${tenant.url}"
                                            />

                                </section>

                                <section>
                                    <label class="input">
                                        <i class="icon-append fa fa-user"></i>

                                        <input type="email"
                                               class="focus"
                                               id="email"
                                               name="email"
                                               onchange="changeUsername()"
                                               th:placeholder="#{user.name}"
                                                />

                                        <input type="hidden"
                                               id="username"
                                               name="username"
                                               th:placeholder="#{user.name}"
                                                />

                                        <b class="tooltip tooltip-top-right">
                                            <i class="fa fa-user txt-color-teal"></i>
                                            <span th:text="#{user.name}"/>
                                        </b>
                                    </label>
                                </section>

                                <section>
                                    <label class="input">
                                        <i class="icon-append fa fa-lock"></i>

                                        <input type="password"
                                               id="password"
                                               name="password"
                                               th:placeholder="#{user.password}"
                                                />

                                        <b class="tooltip tooltip-top-right">
                                            <i class="fa fa-lock txt-color-teal"></i>
                                            <span th:text="#{user.password}"/>
                                        </b>
                                    </label>

                                    <div class="note">
                                        <a th:with="url=${tenant != null ? '/web/' + tenant.url : '/web'}"
                                           th:href="@{|${url}/forgot-password|}"
                                           th:text="#{user.forgot-password}">
                                            Esqueci minha senha
                                        </a>
                                    </div>
                                </section>

                            </fieldset>

                            <footer>
                                <div class="col-sm-6 pull-left">
                                    <p class="font-xs margin-top-5 pull-left">
                                        <b class="small" th:text="#{app.developer.msg}">
                                            app.developer.msg
                                        </b>
                                        <a class="btnlink" th:href="#{app.developer.url}" th:text="#{app.developer.name}" target="_blank">
                                            app.developer.name
                                        </a>
                                    </p>
                                </div>
                                <div class="col-sm-6 pull-right">
                                    <button type="submit" class="btn btn-primary" th:text="#{user.login}">
                                        Sign in
                                    </button>
                                </div>
                            </footer>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-12" th:remove="tag" th:include="@{_fragment/_ad-horizontal} :: ad-horizontal"></div>

    <div th:remove="tag" th:include="@{_fragment/_scriptsTag} :: scriptsTag"></div>

    <script type="text/javascript">
        runAllForms();

        function changeUsername() {
            $('#username').val($('#tenant').val() + "/" + $('#email').val())
        }

        $(function() {
            // Validation
            $("#login-form").validate({
                // Rules for form validation
                rules : {
                    email : {
                        required : true,
                        email : true
                    },
                    password : {
                        required : true
                    }
                },

                // Messages for form validation
                messages : {
                    email : {
                        required : 'Please enter your email address',
                        email : 'Please enter a VALID email address'
                    },
                    password : {
                        required : 'Please enter your password'
                    }
                },

                // Do not change code below
                errorPlacement : function(error, element) {
                    error.insertAfter(element.parent());
                }
            });

        });

        changeUsername();
    </script>
    </body>
</html>