<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:include="@{_fragment/_headTag} :: headTag">
    </head>
    <body class="login-page">

        <div class="login-box">
            <div class="login-logo">
                <a th:href="${#authorization.expression('isAuthenticated()') == true} ? @{|/${#authentication.systemUser.tenant.url}/user|} : @{'/'}">
                    <h3>
                        <img th:if="${tenant != null}
                                        and ${tenant.logo != null}"
                             th:src="@{|/${tenant.url}/uploadedfiles/Tenant/${tenant.id}/${tenant.logo}|}"
                             th:width="${tenant.logoWidth * 2} + ${'px'}"
                             th:height="${tenant.logoHeight * 2} + ${'px'}"
                             th:style="${'width: '} + ${tenant.logoWidth * 2} + ${'px; height: '} + ${tenant.logoHeight * 2} + ${'px;'}"
                                />
                        <img th:if="${#authorization.expression('isAuthenticated()') == false} or ${#authentication.systemUser.tenant.logo == null}"
                             th:src="@{'/resources/app/img/logo.png'}"
                             width="40"
                             height="50"
                             style="width: 40px; height: 50px;"
                                />
                        <span th:text="#{app.title}"></span>
                    </h3>
                </a>
            </div><!-- /.login-logo -->
            <div class="login-box-body">
                <div class="login-box-msg" th:remove="tag" th:include="@{_fragment/_message} :: message"></div>

                <form th:action="@{/login}" method="post" role="form">
                    <div class="form-group has-feedback">
                        <input type="email"
                               class="form-control focus"
                               id="username"
                               name="username"
                               th:placeholder="#{user.name}"
                            />
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password"
                               class="form-control"
                               id="password"
                               name="password"
                               th:placeholder="#{user.password}"
                            />
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary btn-block btn-flat" th:text="#{user.login}">
                                Sign In
                            </button>
                        </div>
                    </div>
                </form>

                <div class="row">
                    &nbsp;
                    <br />
                </div>

                <div class="col-sm-12" th:remove="tag" th:include="@{_fragment/_ad-horizontal} :: ad-horizontal"></div>

                <div class="row">
                    &nbsp;
                    <br />
                </div>

            </div>
        </div>

        <div th:remove="tag" th:include="@{_fragment/_footer} :: footer"></div>
    </body>
</html>