<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
    </head>
    <body th:fragment="ad-vertical">

        <div th:if="${ (#authorization.expression('isAuthenticated()') == true and #authentication.systemUser.tenant.showAdds == true) or #authorization.expression('isAuthenticated()') != true}"
                class="google-vertical-ad">

            <div class="google-ad ad-desktop"
                 data-google-ad-client="ca-pub-3481908664466605"
                 data-google-ad-slot="7473096784"
                 data-google-ad-width="160"
                 data-google-ad-height="600">
            </div>

        </div>
    </body>
</html>