<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
    </head>
    <body th:fragment="add-vertical">

    <div th:if="${ (#authorization.expression('isAuthenticated()') == true and #authentication.systemUser.tenant.showAdds == true) or #authorization.expression('isAuthenticated()') != true}">

        <!--
            This wait of a second is necessary because at this moment jQuery no loaded yet
            but, in one second we imagine that this will occur.
            We put this code here and not in app.js, for example, because, this page can change
            the content location of the app, but only when it was used. So, to minimize maintanence
            operations, we try this.
            If you have some production problems with this, first try to change the time below.
         -->
        <script>
            setTimeout(function() {
                        $('#content-panel').removeClass('col-sm-12');
                        $('#content-panel').addClass('col-sm-10');
                    },
                    1000
            );

        </script>

        <center>
            <div class="row ">
                <div class="add-mobile">
                    <script type="text/javascript">
                        google_ad_client = "ca-pub-3481908664466605";
                        google_ad_slot = "9229031586";
                        google_ad_width = 320;
                        google_ad_height = 100;
                    </script>
                    <!-- Banner-Hor-Mobile -->
                    <script type="text/javascript"
                            src="//pagead2.googlesyndication.com/pagead/show_ads.js">
                    </script>
                </div>

                <div class="add-desktop">
                    <script type="text/javascript">
                        google_ad_client = "ca-pub-3481908664466605";
                        google_ad_slot = "5996363588";
                        google_ad_width = 728;
                        google_ad_height = 90;
                    </script>
                    <!-- Banner-Hor-Desktop -->
                    <script type="text/javascript"
                            src="//pagead2.googlesyndication.com/pagead/show_ads.js">
                    </script>
                </div>
            </div>
        </center>
    </div>
    </body>
</html>