<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
    </head>
    <body th:fragment="add-vertical">

        <div class="add-desktop col-sm-1">
            <script type="text/javascript">
                google_ad_client = "ca-pub-3481908664466605";
                google_ad_slot = "7473096784";
                google_ad_width = 160;
                google_ad_height = 600;
            </script>
            <!-- Banner-Ver-Desktop -->
            <script type="text/javascript"
                    src="//pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
        </div>
    </body>
</html>