<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:include="@{_fragment/_headTag} :: headTag">
    </head>

    <!-- BODY options, add following classes to body to change options

        1. 'sidebar-minified'     - Switch sidebar to minified version (width 50px)
        2. 'sidebar-hidden'		  - Hide sidebar
        3. 'rtl'				  - Switch to Right to Left Mode
        4. 'container'			  - Boxed layout
        5. 'static-sidebar'		  - Static Sidebar
        6. 'static-header'		  - Static Header
    -->

    <body th:fragment="apolo-template" class="static-sidebar static-header static-footer">

        <div th:remove="tag" th:include="@{_fragment/_header} :: header"></div>

        <div th:remove="tag" th:include="@{_fragment/_menu} :: menu"></div>

        <div class="main">
            <div class="row">
                <div id="content-panel" class="col-sm-12">

                    <div th:remove="tag" th:include="@{_fragment/_message} :: message"></div>

                    <div id="content-location">
                        &nbsp;
                    </div>

                    <div>
                        &nbsp;
                        <br />
                        <br />
                    </div>

                    <div th:remove="tag" th:include="@{_fragment/_add-vertical} :: add-vertical"></div>

                </div>

                <div th:remove="tag" th:include="@{_fragment/_add-horizontal} :: add-horizontal"></div>
            </div>
        </div>

        <div th:remove="tag" th:include="@{_fragment/_footer} :: footer"></div>

    </body>
</html>