<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:include="@{_fragment/_headTag} :: headTag">
    </head>

    <!--
  BODY TAG OPTIONS:
  =================
  Apply one or more of the following classes to get the
  desired effect

  | SKINS         | skin-blue                               |
  |               | skin-black                              |
  |               | skin-purple                             |
  |               | skin-yellow                             |
  |               | skin-red                                |
  |               | skin-green                              |

  |LAYOUT OPTIONS | fixed                                   |
  |               | layout-boxed                            |
  |               | layout-top-nav                          |
  |               | sidebar-collapse                        |
  |               | sidebar-mini                            |

    look this options in app.js
    -->

    <body th:fragment="apolo-template">

        <div class="wrapper">

            <div th:remove="tag" th:include="@{_fragment/_header} :: header"></div>

            <div th:remove="tag" th:include="@{_fragment/_menu} :: menu"></div>

            <div class="content-wrapper">
                <div class="row">
                    <div id="content-panel" class="col-sm-12">

                        <div th:remove="tag" th:include="@{_fragment/_message} :: message"></div>

                        <div id="content-location">
                            &nbsp;
                        </div>

                    </div>

                    <div class="col-sm-2" th:remove="tag" th:include="@{_fragment/_ad-vertical} :: ad-vertical"></div>

                </div>

                <div class="row">
                    &nbsp;
                </div>

                <div class="col-sm-12" th:remove="tag" th:include="@{_fragment/_ad-horizontal} :: ad-horizontal"></div>

            </div>

            <div th:remove="tag" th:include="@{_fragment/_footer} :: footer"></div>

        </div>

        <input th:if="${tenant == null or tenant.skin == null} and ${#authorization.expression('@apoloSecurity.isAuthenticated()') != true}"
               type="hidden" id="skin" th:value="skin-black" />

        <input th:if="${tenant != null} and ${tenant.skin != null} and ${#authorization.expression('@apoloSecurity.isAuthenticated()') != true}"
                type="hidden" id="skin" th:value="${tenant.skin.code}" />

        <input th:if="${#authorization.expression('@apoloSecurity.isAuthenticated()') == true}
                    and ${#authentication.systemUser.tenant != null}
                    and ${#authentication.systemUser.tenant.skin != null}"
               type="hidden" id="skin" th:value="${#authentication.systemUser.tenant.skin.code}" />

        <input th:if="${#authorization.expression('@apoloSecurity.isAuthenticated()') == true}
                    and ${#authentication.systemUser.tenant == null or #authentication.systemUser.tenant.skin == null}"
               type="hidden" id="skin" th:value="skin-black" />

        <script th:inline="javascript">
            $('body').addClass($('#skin').val());
            $('body').addClass('fixed');
        </script>

    </body>
</html>