<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body th:fragment="authorship (entity)">

    <div th:with="style=${!readOnly ? 'display: none;' : 'display: block;' },
                datePattern=#{common.fullDatePattern}">
        <div class="row" th:style="${style}">
            <div class="form-group col-sm-6"
                 th:if="${entity != null} and ${entity.createdBy != null} and ${entity.createdBy.id != null}">
                <label for="createdBy.id" class="control-label" th:text="#{common.author}" />

                <input type="hidden"
                       id="createdBy.id"
                       name="createdBy.id"
                       th:value="${entity.createdBy.id}"
                        />

                <p th:text="${entity.createdBy.name}" />
            </div>

            <div class="form-group col-sm-6 "
                 th:if="${entity != null} and ${entity.creationDate != null}">
                <label for="creationDate" class="control-label" th:text="#{common.creationDate}"/>

                <input type="hidden"
                       id="creationDate"
                       name="creationDate"
                       th:value="${#calendars.format(entity.creationDate, 'yyyy-MM-dd HH:mm:ss.S')}"
                    />

                <p th:text="${#calendars.format(entity.creationDate, datePattern)}" />
            </div>

            <div class="form-group col-sm-6 " th:if="${entity.lastUpdatedBy != null}">
                <label for="lastUpdatedBy.id" class="control-label" th:text="#{common.lastUpdatedBy}" />

                <input type="hidden"
                       id="lastUpdatedBy.id"
                       name="lastUpdatedBy.id"
                       th:value="${entity.lastUpdatedBy.id}"
                        />

                <p th:text="${entity.lastUpdatedBy.name}" />
            </div>

            <div class="form-group col-sm-6 " th:if="${entity.lastUpdateDate != null}">
                <label for="lastUpdateDate" class="control-label" th:text="#{common.lastUpdateDate}" />

                <input type="hidden"
                       id="lastUpdateDate"
                       name="lastUpdateDate"
                       th:value="${#calendars.format(entity.lastUpdateDate, 'yyyy-MM-dd HH:mm:ss.S')}"
                        />

                <p th:text="${#calendars.format(entity.lastUpdateDate, datePattern)}" />
            </div>
        </div>
    </div>
</body>
</html>