<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body th:fragment="authorship (entity)">

    <div th:with="style=${!readOnly ? 'display: none;' : 'display: block;' },
                datePattern=#{common.fullDatePattern}">
        <div class="row" th:style="${style}">
            <div class="form-group col-sm-6"
                 th:if="${entity != null} and ${entity.createdBy != null} and ${entity.createdBy.id != null}">
                <label for="createdBy.id" class="control-label" th:text="#{common.author}" />

                <input type="hidden"
                       id="createdBy.id"
                       name="createdBy.id"
                       th:value="${entity.createdBy.id}"
                        />

                <p th:text="${entity.createdBy.name}" />
            </div>

            <div class="form-group col-sm-6 "
                 th:if="${entity != null} and ${entity.createdAt != null}">
                <label for="createdAt" class="control-label" th:text="#{common.creationDate}"/>

                <input type="hidden"
                       id="createdAt"
                       name="createdAt"
                       th:value="${#calendars.format(entity.createdAt, 'yyyy-MM-dd HH:mm:ss.S')}"
                    />

                <p th:text="${#calendars.format(entity.createdAt, datePattern)}" />
            </div>

            <div class="form-group col-sm-6 " th:if="${entity.updatedBy != null}">
                <label for="updatedBy.id" class="control-label" th:text="#{common.lastUpdatedBy}" />

                <input type="hidden"
                       id="updatedBy.id"
                       name="updatedBy.id"
                       th:value="${entity.updatedBy.id}"
                        />

                <p th:text="${entity.updatedBy.name}" />
            </div>

            <div class="form-group col-sm-6 " th:if="${entity.updatedAt != null}">
                <label for="updatedAt" class="control-label" th:text="#{common.lastUpdateDate}" />

                <input type="hidden"
                       id="updatedAt"
                       name="updatedAt"
                       th:value="${#calendars.format(entity.updatedAt, 'yyyy-MM-dd HH:mm:ss.S')}"
                        />

                <p th:text="${#calendars.format(entity.updatedAt, datePattern)}" />
            </div>
        </div>
    </div>
</body>
</html>