<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:apolo="@{/WEB-INF/taglib/apolo.tld}"
        >

    <head>
    </head>
    <body th:fragment="footer">

        <div class="add-mobile">
            <script type="text/javascript">
                google_ad_client = "ca-pub-3481908664466605";
                google_ad_slot = "9229031586";
                google_ad_width = 320;
                google_ad_height = 100;
            </script>
            <!-- Banner-Hor-Mobile -->
            <script type="text/javascript"
                    src="//pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
        </div>

        <div class="add-desktop">
            <script type="text/javascript">
                google_ad_client = "ca-pub-3481908664466605";
                google_ad_slot = "5996363588";
                google_ad_width = 728;
                google_ad_height = 90;
            </script>
            <!-- Banner-Hor-Desktop -->
            <script type="text/javascript"
                    src="//pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
        </div>

        <footer class="footer">
            <center>
                <a sec:authorize="hasRole('ROLE_ADMIN')"
                   th:href='@{|/version|}'
                   class="btn">
                    <img th:src="@{|/resources/app/img/flags/#{language.flag}|}"
                         width="15"
                         height="15"
                         class="img"
                            />
                </a>
                <img th:src="@{|/resources/app/img/flags/#{language.flag}|}"
                     sec:authorize="!hasRole('ROLE_ADMIN')"
                     width="15"
                     height="15"
                     class="img"
                        />
                <small th:text="#{footer.message}" data-htmlEscape="false">
                    footer.message
                </small>
            </center>
        </footer>

        <noscript>
            <div class="alert alert-block">
                <h4 class="alert-heading">Warning!</h4>
                <p>
                    You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.
                </p>
            </div>
        </noscript>

        <div th:remove="tag" th:include="@{_fragment/_loadingDialog} :: loadingDialog"></div>
        <div th:remove="tag" th:include="@{_fragment/_removeConfirmationDialog} :: removeConfirmationDialog"></div>

        <!-- BEGIN ConfirmDialog -->
        <div id="confirmationDialog" class="dialog-modal" th:title="#{common.remove}" style="display: none;">
            <p>
                <span class="ui-icon ui-icon-alert" style="float:left; margin:10px 10px 20px 0;"></span>
                <span th:text="#{common.remove.msg}">Are you sure you want to remove this register? <br/>This operation cannot be undone.</span>
            </p>
        </div>
        <!-- END ConfirmDialog -->

        <div th:remove="tag" th:include="@{_fragment/_scriptsTag} :: scriptsTag"></div>

    </body>
</html>