<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
    </head>
    <body th:fragment="header">

        <nav id="menu" class="navbar navbar-default" role="navigation">
            <div class="navbar-header menu-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="${systemUser != null} ? @{${'/'} + ${systemUser.tenant.url} + ${'/user'}} : @{'/'}">
                    <strong id="menuTitle" style="font-family: monospace; font-size: xx-large;" class="menu-title">
                        <div th:switch="${systemUser != null} and ${systemUser.tenant != null} and ${systemUser.tenant.logo != null}">
                            <img th:case="'true'"
                                 th:src="@{${'/'} + ${systemUser.tenant.url} + ${'/uploadedfiles/Tenant/'} + ${systemUser.tenant.id} + ${'/'} + ${systemUser.tenant.logo}}"
                                 th:width="${systemUser.tenant.logoWidth}"
                                 th:height="${systemUser.tenant.logoHeight}"
                                 th:style="${'width: '} + ${systemUser.tenant.logoWidth} + ${'px; height: '} + ${systemUser.tenant.logoHeight} + ${'px;'}"
                                 th:text="#{app.title}"
                                />
                            <img th:case="*"
                                 th:src="@{'/resources/app/img/logo.png'}"
                                 width="15"
                                 height="20"
                                 style="width: 15px; height: 20px;"
                                 th:text="#{app.title}"
                                />
                        </div>
                    </strong>
                </a>

                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <div th:remove="tag" th:include="@{_fragment/_menu-user} :: menu-user"></div>
                </div>
            </div>
        </nav>
        <div id="overlay" class="transparent"></div>

        <div id="menu-space" style="display:none;">&nbsp;</div>
    </body>
</html>