<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:fragment="headTag">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="X-Frame-Options" content="allow" />

        <!-- title selection -->
        <title sec:authorize="hasRole('ROLE_AFTER_AUTH_USER')"
               th:if="${#authentication.systemUser != null}
                    and ${#authentication.systemUser.tenant != null}
                    and ${#authentication.systemUser.tenant.name != null}"
               th:text="${#authentication.systemUser.tenant.name}"
                >
        </title>
        <title sec:authorize="hasRole('ROLE_AFTER_AUTH_USER')"
               th:if="${#authentication.systemUser != null}
                    and ${#authentication.systemUser.tenant != null}
                    and ${#authentication.systemUser.tenant.name == null}"
               th:text="#{app.title}"
                >
        </title>
        <title sec:authorize="isAnonymous()"
               th:text="#{app.title}"
                >
        </title>

        <!-- icon selection -->
        <link sec:authorize="hasRole('ROLE_AFTER_AUTH_USER')"
              th:if="${#authorization.expression('isAuthenticated()') == true}
                         and ${#authentication.systemUser.tenant != null}
                         and ${#authentication.systemUser.tenant.icon != null}"
              rel="icon"
              type="image/png"
              th:src="@{|/${#authentication.systemUser.tenant.url}/uploadedfiles/Tenant/${#authentication.systemUser.tenant.id}/${#authentication.systemUser.tenant.icon}|}"
          />
        <link sec:authorize="hasRole('ROLE_AFTER_AUTH_USER')"
              th:if="${#authorization.expression('isAuthenticated()') == true}
                         and (
                            ${#authentication.systemUser.tenant == null}
                            or ${#authentication.systemUser.tenant.icon == null}
                         )"
              rel="icon"
              type="image/png"
              th:href="@{|/resources/app/img/favicon.png|}"
          />
        <link sec:authorize="isAnonymous()"
              rel="icon"
              type="image/png"
              th:href="@{|/resources/app/img/favicon.png|}"
          />

        <link rel="apple-touch-icon-precomposed" sizes="144x144"
              th:href="@{/resources/plugin/real/ico/apple-touch-icon-144-precomposed.png}"/>
        <link rel="apple-touch-icon-precomposed" sizes="114x114"
              th:href="@{/resources/plugin/real/ico/apple-touch-icon-114-precomposed.png}"/>
        <link rel="apple-touch-icon-precomposed" sizes="72x72"
              th:href="@{/resources/plugin/real/ico/apple-touch-icon-72-precomposed.png}"/>
        <link rel="apple-touch-icon-precomposed" sizes="57x57"
              th:href="@{/resources/plugin/real/ico/apple-touch-icon-57-precomposed.png}"/>

        <link th:href="@{/resources/plugin/real/css/bootstrap.min.css}" rel="stylesheet" id="bootstrap-style"/>
        <link th:href="@{/resources/plugin/real/css/jquery.mmenu.css}" rel="stylesheet"/>
        <link th:href="@{/resources/plugin/real/css/simple-line-icons.css}" rel="stylesheet"/>

        <link th:href="@{/resources/plugin/font-awesome/css/font-awesome.min.css}" rel="stylesheet"/>

        <!-- page css files -->
        <link th:href="@{/resources/plugin/real/css/climacons-font.css}" rel="stylesheet"/>
        <link th:href="@{/resources/plugin/real/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css}"
              rel="stylesheet"/>
        <link th:href="@{/resources/plugin/real/plugins/fullcalendar/css/fullcalendar.css}" rel="stylesheet"/>
        <link th:href="@{/resources/plugin/real/plugins/morris/css/morris.css}" rel="stylesheet"/>
        <link th:href="@{/resources/plugin/real/plugins/jvectormap/css/jquery-jvectormap-1.2.2.css}"
              rel="stylesheet"/>
        <link th:href="@{/resources/plugin/real/plugins/daterangepicker/css/daterangepicker-bs3.css}"
              rel="stylesheet"/>
        <!-- Custom styles for this template -->
        <link th:href="@{/resources/plugin/real/css/style.min.css}" rel="stylesheet" id="main-style"/>
        <link th:href="@{/resources/plugin/real/css/add-ons.min.css}" rel="stylesheet"/>

        <link th:href="@{/resources/plugin/chosen/css/chosen.css}" rel="stylesheet" />

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css' />
        <link th:href="@{/resources/app/css/app.css}" rel="stylesheet" media="screen" />


        <!-- Case the users authorize to appear adsense, this script can be necessary -->
        <div th:if="${ (#authorization.expression('isAuthenticated()') == true and #authentication.systemUser.tenant.showAdds == true) or #authorization.expression('isAuthenticated()') != true}">
            <script async="async" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        </div>

    </head>

    <body>
    </body>

</html>