<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
    </head>
    <body th:fragment="menu-user">
    <ul class="nav navbar-nav pull-right">

        <li class="dropdown profile-dropdown" sec:authorize="isAuthenticated()">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img th:if="${#authentication.systemUser.pictureGeneratedName != null}
                                and ${#authentication.systemUser.pictureGeneratedName != ''}"
                     th:src="@{|/${#authentication.systemUser.dbTenant.url}/uploadedfiles/User/${#authentication.systemUser.id}/${#authentication.systemUser.pictureGeneratedName}|}"
                        />
                <span class="hidden-xs" th:text="${#authentication.systemUser.name}">
                    #authentication.systemUser.name
                </span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a th:href="@{|/${#authentication.systemUser.tenant.url}/user|}" >
                        <i class="fa fa-tachometer"></i>
                        <span th:text="#{user.dashboard}" />
                    </a>
                </li>
                <li>
                    <a th:href='@{|/${#authentication.systemUser.dbTenant.url}/user/view/${#authentication.systemUser.id}|}'>
                        <i class="fa fa-user"></i>
                        <span th:text="#{user.profile}" />
                    </a>
                </li>
                <li>
                    <a th:href='@{|/${#authentication.systemUser.dbTenant.url}/user/change-password|}'>
                        <i class="fa fa-pencil-square-o"></i>
                        <span th:text="#{user.change.password}" />
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a th:href='@{/auth/logout}'>
                        <i class="fa fa-power-off"></i>
                        <span th:text="#{user.logout}" />
                    </a>
                </li>
            </ul>
        </li>

        <li class="dropdown profile-dropdown" sec:authorize="!isAuthenticated()">
            <a class="dropdown-toggle"
               th:href="@{/auth/login}">
                <span><i class="fa fa-lock"></i></span>
                <strong th:text="#{user.restricted.area.access}" />
            </a>
        </li>
    </ul>
    </body>
</html>