<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
</head>
<body th:fragment="menu">

    <div class="sidebar sidebar-collapse">
        <div class="sidebar-header" sec:authorize="isAuthenticated()">
            <div class="row">
                <div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
                    <p class="center">
                        <a th:href='@{|/${#authentication.systemUser.dbTenant.url}/user/view/${#authentication.systemUser.id}|}'>
                            <img th:if="${#authentication.systemUser.avatarFileName != null}
                                and ${#authentication.systemUser.avatarFileName != ''}"
                                 th:src="@{|/${#authentication.systemUser.dbTenant.url}/uploadedfiles/User/${#authentication.systemUser.id}/${#authentication.systemUser.avatarFileName}|}"
                                    />

                            <span th:if="${#authentication.systemUser.avatarFileName == null or #authentication.systemUser.avatarFileName == ''}"
                                  class="fa fa-user fa-4x">
                            </span>
                        </a>
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <a class="center small" style="text-align: center;"
                       th:href='@{|/${#authentication.systemUser.dbTenant.url}/user/view/${#authentication.systemUser.id}|}'
                       >
                        <p class="center" th:text="${#authentication.systemUser.name}">
                            authentication.systemUser.name
                        </p>
                    </a>

                    <p class="center col-xs-4 col-sm-4 col-md-12 col-lg-12">
                        <a th:href='@{/logout}'>
                            <i class="fa fa-power-off"></i>
                            <span class="text" th:text="#{user.logout}" />
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="sidebar-menu">
            <ul class="nav nav-sidebar">

                <li sec:authorize="isAuthenticated()">
                    <a href="#">
                        <i class="fa fa-user"></i>
                        <span class="text" th:text="#{user}">
                            username
                        </span>
                        <span class="indicator"></span>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a th:href="@{|/${#authentication.systemUser.tenant.url}/user|}" >
                                <i class="fa fa-tachometer"></i>
                                <span class="text" th:text="#{user.dashboard}" />
                            </a>
                        </li>
                        <li>
                            <a th:href='@{|/${#authentication.systemUser.dbTenant.url}/user/view/${#authentication.systemUser.id}|}'>
                                <i class="fa fa-user"></i>
                                <span class="text" th:text="#{user.profile}" />
                            </a>
                        </li>
                        <li>
                            <a th:href='@{|/${#authentication.systemUser.dbTenant.url}/user/change-password|}'>
                                <i class="fa fa-pencil-square-o"></i>
                                <span class="text" th:text="#{user.change.password}" />
                            </a>
                        </li>
                    </ul>
                </li>

                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}">
                        <i class="fa fa-lock"></i>
                        <span class="text" th:text="#{user.restricted.area.access}">
                            user.restricted.area.access
                        </span>
                    </a>
                </li>

                <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER_LIST', 'ROLE_USER_MANAGER',
                            'ROLE_USER_CREATE', 'ROLE_USER_CUSTOM_FIELD_LIST', 'ROLE_USER_CUSTOM_FIELD_CREATE')">
                    <a href="#">
                        <i class="icon fa fa-users"></i>
                        <span class="text" th:text="#{menu.sysadmin.user}">
                            menu.sysadmin.user
                        </span>
                        <span class="indicator"></span>
                    </a>
                    <ul>
                        <li>
                            <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER_LIST')"
                               th:href='@{|/${#authentication.systemUser.tenant.url}/user/list|}'>
                                <i class="icon fa fa-list"></i>
                                <span class="text" th:text="#{user.list}">user.list</span>
                            </a>
                        </li>

                        <li>
                            <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER_MANAGER')"
                               th:href='@{|/${#authentication.systemUser.tenant.url}/user/list-locked|}'>
                                <i class="icon fa fa-user-secret"></i>
                                <span class="text" th:text="#{user.list.locked}">user.list.locked</span>
                            </a>
                        </li>

                        <li>
                            <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER_CREATE')"
                               th:href='@{|/${#authentication.systemUser.tenant.url}/user/new|}'>
                                <i class="icon fa fa-user-plus"></i>
                                <span class="text" th:text="#{user.new}">user.new</span>
                            </a>
                        </li>

                        <li>
                            <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER_CUSTOM_FIELD_LIST')"
                               th:href='@{|/${#authentication.systemUser.tenant.url}/user-custom-field/list|}'>
                                <i class="icon fa fa-list"></i>
                                <span class="text" th:text="#{user.custom.field.list}">
                                    user.custom.field.list
                                </span>
                            </a>
                        </li>

                        <li>
                            <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER_CUSTOM_FIELD_CREATE')"
                               th:href='@{|/${#authentication.systemUser.tenant.url}/user-custom-field/new|}'>
                                <i class="icon fa fa-plus"></i>
                                <span class="text" th:text="#{user.custom.field.new}">user.custom.field.new</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_TENANT_LIST', 'ROLE_TENANT_CREATE')">
                    <a href="#">
                        <i class="icon fa fa-ship"></i>
                        <span class="text" th:text="#{tenant}" >
                            tenant
                        </span>
                        <span class="indicator"></span>
                    </a>
                    <ul>
                        <li>
                            <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_TENANT_LIST')"
                               th:href='@{|/tenant/list|}'>
                                <i class="icon fa fa-list"></i>
                                <span class="text" th:text="#{tenant.list}">tenant.list</span>
                            </a>
                        </li>

                        <li>
                            <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_TENANT_CREATE')"
                               th:href='@{|/tenant/new|}'>
                                <i class="icon fa fa-user-plus"></i>
                                <span class="text" th:text="#{tenant.create}">tenant.create</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER_PERMISSION_LIST', 'ROLE_USER_PERMISSION_CREATE')">
                    <a href="#">
                        <i class="icon fa fa-arrows-alt"></i>
                        <span class="text" th:text="#{menu.sysadmin.groups}" >
                            menu.sysadmin.groups
                        </span>
                        <span class="indicator"></span>
                    </a>
                    <ul>
                        <li>
                            <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER_PERMISSION_LIST')"
                               th:href='@{|/${#authentication.systemUser.tenant.url}/user-group/list|}'>
                                <i class="icon fa fa fa-list"></i>
                                <span class="text" th:text="#{user.group.list}">user.group.list</span>
                            </a>
                        </li>

                        <li>
                            <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER_PERMISSION_CREATE')"
                               th:href='@{|/${#authentication.systemUser.tenant.url}/user-group/new|}'>
                                <i class="icon fa fa fa-plus"></i>
                                <span class="text" th:text="#{user.group.new}">user.group.new</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li sec:authorize="hasAnyRole('ROLE_ADMIN')">
                    <a sec:authorize="hasAnyRole('ROLE_ADMIN')"
                       th:href='@{|/${#authentication.systemUser.tenant.url}/auditlog/list|}'>
                        <i class="icon fa fa-list-alt"></i>
                        <span class="text" th:text="#{auditlog.list}">auditlog.list</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</body>
</html>