<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
    </head>
    <body th:fragment="menu-user-admin">
        <ul class="nav navbar-nav">
            <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER_LIST', 'ROLE_USER_MANAGER', 'ROLE_USER_CREATE')">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <div class="menu-text menu-text-default">
                        <span><i class="fa fa-users"></i></span>
                        <strong th:text="#{menu.sysadmin.user}" />
                        <span><i class="fa fa-chevron-down"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-top">

                    <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER_LIST')">
                        <a th:href='@{|/${#authentication.systemUser.tenant.url}/user/list|}' >
                            <div class="menu-item menu-item-text-default">
                                <i class="fa fa-list"></i>
                                <span th:text="#{user.list}">user.list</span>
                            </div>
                        </a>
                    </li>

                    <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER_MANAGER')">
                        <a th:href='@{|/${#authentication.systemUser.tenant.url}/user/list-locked|}' class="submenu-label">
                            <div class="menu-item menu-item-text-default">
                                <i class="fa fa-user-secret"></i>
                                <span th:text="#{user.list.locked}">user.list.locked</span>
                            </div>
                        </a>
                    </li>

                    <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER_CREATE')">
                        <a th:href='@{|/${#authentication.systemUser.tenant.url}/user/new|}' class="submenu-label">
                            <div class="menu-item menu-item-text-default">
                                <i class="fa fa-user-plus"></i>
                                <span th:text="#{user.new}">user.new</span>
                            </div>
                        </a>
                    </li>

                    <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER_CUSTOM_FIELD_LIST', 'ROLE_USER_CUSTOM_FIELD_CREATE')"
                            class="divider"></li>

                    <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER_CUSTOM_FIELD_LIST')">
                        <a th:href='@{|/${#authentication.systemUser.tenant.url}/user-custom-field/list|}' class="submenu-label">
                            <div class="menu-item menu-item-text-default">
                                <i class="fa fa-list"></i>
                                <span th:text="#{user.custom.field.list}">
                                    user.custom.field.list
                                </span>
                            </div>
                        </a>
                    </li>

                    <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER_CUSTOM_FIELD_CREATE')">
                        <a th:href='@{|/${#authentication.systemUser.tenant.url}/user-custom-field/new|}' class="submenu-label">
                            <div class="menu-item menu-item-text-default">
                                <i class="fa fa-plus"></i>
                                <span th:text="#{user.custom.field.new}">
                                    user.custom.field.new
                                </span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </body>
</html>