<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
    </head>

    <body th:fragment="scriptsTag">

        <script th:inline="javascript">
            var App = function() {
                return {
                    contextPath : /*'[[${#pageContext.request.contextPath}]]'*/ 'error',
                    locale : /*'[[${#sessionScope["org.springframework.web.servlet.i18n.SessionLocaleResolver.LOCALE"]}]]'*/ 'error',
                    readOnly : /*[[${readOnly != null} ? ${readOnly} : false]]*/ 'error'
                };
            }();
        </script>


        <script th:src="@{/resources/plugin/cube/js/demo-skin-changer.js}"></script>
        <script th:src="@{/resources/plugin/cube/js/jquery.js}"></script>
        <script th:src="@{/resources/plugin/cube/js/bootstrap.js}"></script>
        <script th:src="@{/resources/plugin/cube/js/jquery.nanoscroller.min.js}"></script>
        <script th:src="@{/resources/plugin/cube/js/demo.js}"></script>

        <script th:src="@{/resources/plugin/cube/js/moment.min.js}"></script>
        <script th:src="@{/resources/plugin/cube/js/jquery-jvectormap-1.2.2.min.js}"></script>
        <script th:src="@{/resources/plugin/cube/js/jquery-jvectormap-world-merc-en.js}"></script>
        <script th:src="@{/resources/plugin/cube/js/gdp-data.js}"></script>
        <script th:src="@{/resources/plugin/cube/js/flot/jquery.flot.min.js}"></script>
        <script th:src="@{/resources/plugin/cube/js/flot/jquery.flot.resize.min.js}"></script>
        <script th:src="@{/resources/plugin/cube/js/flot/jquery.flot.time.min.js}"></script>
        <script th:src="@{/resources/plugin/cube/js/flot/jquery.flot.threshold.js}"></script>
        <script th:src="@{/resources/plugin/cube/js/flot/jquery.flot.axislabels.js}"></script>
        <script th:src="@{/resources/plugin/cube/js/jquery.sparkline.min.js}"></script>
        <script th:src="@{/resources/plugin/cube/js/skycons.js}"></script>

        <script th:src="@{/resources/plugin/cube/js/scripts.js}"></script>
        <script th:src="@{/resources/plugin/cube/js/pace.min.js}"></script>

        <script th:src="@{/resources/plugin/jquery-tagit/js/tagit.js}"></script>
        <script th:src="@{/resources/plugin/jquery-chosen/chosen.jquery.min.js}"></script>
        <script th:src="@{/resources/plugin/cleditor/jquery.cleditor.js}"></script>
        <script th:src="@{/resources/plugin/jquery-ellipsis/jquery.ellipsis.js}"></script>
        <script th:src="@{/resources/plugin/mediaelement/mediaelement-and-player.min.js}"></script>

        <script th:src="@{/resources/app/js/app.js}"></script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            /* ga('create', 'UA-60177831-1', 'auto'); */

            ga('create', 'UA-60177831-1', {
                'userId': /*'[[${#authentication.systemUser != null} ? ${#authentication.systemUser.name} : ${'anonymous'}]]'*/ 'null'
            });

            ga('send', 'pageview');

        </script>

        <script>
            $('body').attr('id', 'skin-blur-ocean');
        </script>

    </body>

</html>