@import "app/variables";

.loginHeader {
  background-color: $gray-dark;
}

.bg-info {
  background-color: $brand-info;
}

.bg-green {
  background-color: $brand-green;
}

.bg-purple {
  background-color: $brand-purple;
}

.bg-danger {
  background-color: $brand-danger;
}

.bg-white {
  background-color: #ffffff;
}

.bg-gray-dark {
  background-color: $gray-dark;
}