body {
	padding-bottom: 40px;
}

.footer {
	background-image: none;
	background-repeat: repeat;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
	z-index: 999;
	width: 100%;
	color: #FCFCFC;
}

.menu-header {
	width: 100%;
	color: #000000;
}

.menu-header-top {
	width: 100%;
	color: #FCFCFC;
}

.menu-text-default {
	color: #000000;
}

.menu-text-white {
	color: #FCFCFC;
}

.menu-top {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
}

.menu-title {
	color: #000000;
}

.menu-title-top {
	color: #FCFCFC;
}

.sidebar-nav {
	padding: 9px 0;
}

label {
	font-weight: bold;
}

caption {
	font-weight: bold;
}

.popover {
	max-width: 800px;
	width: auto;
}

.flag-selector {
	display:inline-block;
	width:35px;
	height:35px;
	cursor:pointer;
	margin:3px 0 -5px 5px;
}

.flag-selector img {
	margin-top: 7px;
}

p {
	overflow: auto;
}

input[type=checkbox] {
	opacity: 1 !important;
	position: inherit !important;
}

input[type=radio] {
	opacity: 1 !important;
	position: inherit !important;
}

.login-wrapper {
	position: absolute;
	top: 50px;
	width: 100%;
	margin-left: 0;
	animation: bounceInDownSmall 1s ease;
	-webkit-animation: bounceInDownSmall 1s ease;
	-moz-animation: bounceInDownSmall 1s ease;
	-ms-animation: bounceInDownSmall 1s ease;
	-o-animation: bounceInDownSmall 1s ease;
}
.login-wrapper.fadeOutUp {
	animation: fadeOutUp 0.5s ease-out;
	-webkit-animation: fadeOutUp 0.5s ease-out;
	-moz-animation: fadeOutUp 0.5s ease-out;
	-ms-animation: fadeOutUp 0.5s ease-out;
	-o-animation: fadeOutUp 0.5s ease-out;
	opacity: 0;
}
.login-wrapper .login-widget {
	margin: 0 auto;
	width: 400px;
	margin-top: 20px;
}
@media (max-width: 480px) {
	.login-wrapper .login-widget {
		width: 100%;
	}
}
.login-wrapper .login-widget .widget {
	box-shadow: 0 1px 15px -4px #000000;
	-moz-box-shadow: 0 1px 15px -4px #000000;
	-webkit-box-shadow: 0 1px 15px -4px #000000;
}

@media (max-width: 480px) {
	#header {
		height:0px;
	}
	
	.onlyBigWindows {
		visibility: hidden;
	}
	
	.loginForm {
		margin-left: 0%; 
		margin-right: 0%;
	}
	
	.loginForm form {
		margin-left: 5%; 
		margin-right: 5%;
	}
}

@media (max-width: 767px) {
	#header {
		height:0px;
	}
	
	.onlyBigWindows {
		visibility: hidden;
	}
	
	.loginForm {
		margin-left: 5%; 
		margin-right: 5%;
	}
	
	.loginForm form {
		margin-left: 5%; 
		margin-right: 5%;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	#header {
		height:0px;
	}
	
	.onlyBigWindows {
		visibility: hidden;
	}
	
	.loginForm {
		margin-left: 15%; 
		margin-right: 15%;
	}
	
	.loginForm form {
		margin-left: 5%; 
		margin-right: 5%;
	}
}

@media (min-width: 980px) {

	.footer_contents {
	    width: 1000px; // Visible width of footer
	    margin:auto;
	}

	.footer {
		bottom: 0px;
		margin: 0px;
		position: fixed;
		padding: 0px;
	}
	
	.loginForm {
		margin-left: 20%; 
		margin-right: 20%;
	}
	
	.loginForm form {
		margin-left: 5%; 
		margin-right: 5%;
	}
}

@media (min-width: 1200px) {
	.footer {
		bottom: 0px;
		margin: 0px;
		position: fixed;
		padding: 0px;
	}
	
	.footer_contents {
	    width: 1000px; // Visible width of footer
	    margin:auto;
	}
	
	.loginForm {
		margin-left: 25%; 
		margin-right: 25%;
	}
	
	.loginForm form {
		margin-left: 5%; 
		margin-right: 5%;
	}
}