<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body th:fragment="editDataDialog">

<div id="editData" class="modal hide fade" tabindex="-1" data-role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 th:text="#{common.edit}">
            common.edit
        </h4>
    </div>

    <div class="modal-body">
        <input type="text" id="dataInput" class="input-block-level"/>
        <input type="hidden" id="editingFieldName" />
    </div>

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">
            <i class="fa fa-times"></i>
            <span th:text="#{common.cancel}">
                common.cancel
            </span>
        </a>
        <a href="#" class="btn btn-primary" onclick="editData();">
            <i class="fa fa-check"></i>
            <span th:text="#{common.ok}">
                common.ok
            </span>
        </a>
    </div>
</div>
</body>
</html>