<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body th:fragment="distribution-form">

<input type="hidden" id="id" name="id" th:value="${distribution.id}"/>
<input type="hidden" id="tenant.id" name="tenant.id" th:value="${distribution.tenant.id}"/>
<input type="hidden" id="tenant.name" name="tenant.name" th:value="${distribution.tenant.name}"/>
<input type="hidden" id="tenant.url" name="tenant.url" th:value="${distribution.tenant.url}"/>

<ul class="nav nav-tabs" id="formTab" th:with="style=${!readOnly ? 'display: none;' : 'display: block;' }">
    <li class="active">
        <a href="#home">
            <span class="fa fa-tasks"></span>
        </a>
    </li>
    <li th:style="${style}">
        <a href="#authorShipTab">
            <span class="fa fa-user"></span>
        </a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="home">
        <div class="form-group">
            <label for="name" class="control-label" th:text="#{distribution.name}">
                distribution.name
            </label>
            <input class="form-control focus"
                   type="text"
                   id="name"
                   name="name"
                   th:value="${distribution.name}"
                   th:readonly="${readOnly}"
                />
        </div>

        <div class="form-group">
            <label for="description" class="control-label" th:text="#{distribution.description}">
                distribution.html
            </label>
            <textarea id="description"
                      name="description"
                      rows="5"
                      cols="80"
                      th:text="${distribution.description}"
                      class="form-control"
                      th:disabled="${readOnly}"
                    >
                ${distribution.description}
            </textarea>
        </div>
    </div>

    <div class="tab-pane" id="authorShipTab">
        <div th:remove="tag" th:include="@{_fragment/_authorship} :: authorship (entity=${distribution})"></div>
    </div>
</div>
<div id="overlay" class="transparent"></div>

<div id="menu-space" style="display:none;">&nbsp;</div>
</body>
</html>