
<div ng-include="'app/views/partials/_message.html'"></div>

<input type="hidden"
       id="id"
       name="id"
       ng-model="ctrl.user.id"
        />

<div class="row">
    <div class="col-xs-12">

        <div class="row">
            <div class="col-sm-3">
                <center>
                    <div class="user-block-status">
                        <i ng-if="ctrl.user == null || ctrl.user.avatarFileName == null"
                           class="fa fa-user fa-5x">
                        </i>
                        <img id="picture" data-ng-if="ctrl.user != null && ctrl.user.avatarFileName != null"
                             src="{{ctrl.user.filesURL + ctrl.user.tenant.url + '/' + 'User' + '/' + ctrl.user.id + '/' + ctrl.user.avatarFileName}}"
                             alt="Avatar"
                             class="img-thumbnail img-circle" />
                        <div class="circle circle-success circle-lg"></div>
                    </div>
                </center>

                <div ng-if="ctrl.uploader != null">
                    <input filestyle=""
                           type="file"
                           data-button-text="Single"
                           data-class-button="btn btn-default"
                           data-classinput="form-control inline"
                           nv-file-select=""
                           uploader="ctrl.uploader"
                           class="form-control"
                            />

                    <div class="panel">
                        <div class="panel-body">
                            <p ng-if="ctrl.uploader.queue.length" class="pull-right label label-info">Queue length: {{ ctrl.uploader.queue.length }}</p>
                            <h4 class="page-header mt0">Upload queue</h4>
                            <p ng-if="!ctrl.uploader.queue.length" class="lead text-center">No files in queue. Start adding some..</p>
                            <div ng-if="ctrl.uploader.queue.length">
                                <table ng-if="ctrl.uploader.queue.length" class="table">
                                    <thead>
                                    <tr>
                                        <th width="50%">Name</th>
                                        <th ng-show="ctrl.uploader.isHTML5">Size</th>
                                        <th ng-show="ctrl.uploader.isHTML5">Progress</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in ctrl.uploader.queue">
                                        <td>
                                            <strong>{{ item.file.name }}</strong>
                                        </td>
                                        <td ng-show="ctrl.uploader.isHTML5" nowrap="">{{ item.file.size/1024/1024|number:2 }} MB</td>
                                        <td ng-show="ctrl.uploader.isHTML5">
                                            <div style="margin-bottom: 0;" class="progress progress-xs">
                                                <div role="progressbar" ng-style="{ 'width': item.progress + '%' }" class="progress-bar"></div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                 <span ng-show="item.isSuccess">
                                    <em class="fa fa-check fa-fw"></em>
                                 </span>
                                 <span ng-show="item.isCancel">
                                    <em class="fa fa-ban-circle fa-fw"></em>
                                 </span>
                                 <span ng-show="item.isError">
                                    <em class="fa fa-times fa-fw"></em>
                                 </span>
                                        </td>
                                        <td nowrap="">
                                            <button
                                                    type="button"
                                                    ng-click="item.upload()"
                                                    class="btn btn-info btn-xs">
                                                <span class="icon-cloud-upload mr"></span>
                                                Upload
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body">
                            <div>
                                <div style="" class="progress progress-xs">
                                    <div role="progressbar" ng-style="{ 'width': ctrl.uploader.progress + '%' }" class="progress-bar"></div>
                                </div>
                            </div>
                            <button type="button"
                                    ng-click="ctrl.uploader.uploadAll()"
                                    ng-disabled="!ctrl.uploader.getNotUploadedItems().length"
                                    class="btn btn-info btn-s">
                                <span class="icon-cloud-upload mr"></span>
                                Upload all
                            </button>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-sm-9">


                <div class="form-group has-feedback col-md-12 col-sm-12">
                    <label for="name" translate="user.name">
                        Name
                    </label>
                    <input type="text"
                           id="name"
                           name="name"
                           placeholder="{{'user.name' | translate}}"
                           ng-model="ctrl.user.name"
                           required="required"
                           class="form-control"
                           ng-readonly="isReadonly"
                            />
                </div>

                <div class="form-group has-feedback col-md-12 col-sm-12">
                    <label for="email" translate="user.email">
                        E-mail
                    </label>
                    <input type="email"
                           id="email"
                           name="email"
                           placeholder="{{'user.email' | translate}}"
                           ng-model="ctrl.user.email"
                           required="required"
                           class="form-control"
                           ng-readonly="isReadonly"
                            />
                </div>

                <div class="form-group has-feedback col-md-12 col-sm-12">
                    <label for="mobile" translate="user.mobile">
                        Mobile
                    </label>
                    <input type="text"
                           id="mobile"
                           name="mobile"
                           placeholder="{{'user.mobile' | translate}}"
                           ng-model="ctrl.user.mobile"
                           class="form-control mobile"
                           ng-readonly="isReadonly"
                            />
                </div>

                <div class="form-group has-feedback col-md-12 col-sm-12" ng-show="!isReadonly">
                    <label for="password" translate="user.password">
                        Password
                    </label>
                    <input type="password"
                           id="password"
                           name="password"
                           placeholder="{{'user.password' | translate}}"
                           ng-model="ctrl.user.password"
                           class="form-control"
                           ng-show="!isReadonly"
                            />
                </div>

                <div class="form-group has-feedback col-md-12 col-sm-12">
                    <label translate="user.permissionGroups">
                        Groups
                    </label>

                    <ui-select multiple
                               ng-model="ctrl.user.groupIds"
                               theme="bootstrap"
                               ng-disabled="isReadonly"
                               close-on-select="true"
                            >

                        <ui-select-choices repeat="group.id as group in ctrl.groups | orderBy: group.name | filter:$select.search ">
                            <div ng-bind-html="group.name"></div>
                        </ui-select-choices>

                        <ui-select-match placeholder="{{'common.select' | translate }}">
                            {{$item.name}}
                        </ui-select-match>

                    </ui-select>
                </div>


            </div>
        </div>
    </div>
</div>


<script src="app/static/js/custom-input-mask.js"></script>
