<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:include="@{_fragment/_headTag} :: headTag">
    </head>
    <body>
    <div th:remove="tag" th:include="@{_fragment/_apolo-template} :: apolo-template"></div>

    <div id="page-content">

        <section class="content-header">
            <h1 th:text="#{user.index.title}">
                Widgets
            </h1>
        </section>

        <section class="content">
            <div sec:authorize="@apoloSecurity.hasPermission('ADMIN')">
                <h3 th:text="#{menu.sysadmin}">
                    Widgets
                </h3>

                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-aqua">
                            <span class="info-box-icon"><i class="fa fa-user"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text" th:text="#{user.dashboard.count}">Bookmarks</span>
                                <span class="info-box-number" th:text="${#numbers.formatInteger(userCount,1,'POINT')}">41,410</span>
                            </div><!-- /.info-box-content -->
                        </div><!-- /.info-box -->
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-aqua">
                            <span class="info-box-icon"><i class="fa fa-ship"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text" th:text="#{tenant.dashboard.count}">Bookmarks</span>
                                <span class="info-box-number" th:text="${#numbers.formatInteger(tenantCount,1,'POINT')}">41,410</span>
                            </div><!-- /.info-box-content -->
                        </div><!-- /.info-box -->
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="info-box bg-aqua">
                            <span class="info-box-icon"><i class="fa fa-user"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text" th:text="#{user.dashboard.tenant.count}">Bookmarks</span>
                                <span class="info-box-number" th:text="${#numbers.formatInteger(userTenantCount,1,'POINT')}">41,410</span>
                                <div class="progress">
                                    <div class="progress-bar" th:style="${'width: '} + ${#numbers.formatInteger(userTenantCountPercent,1,'POINT')} + ${'%'}"></div>
                                </div>
                                <span class="progress-description" th:text="${#numbers.formatInteger(userTenantCountPercent,1,'POINT')} + ${'%'}">
                                    70% Increase in 30 Days
                                </span>
                            </div><!-- /.info-box-content -->
                        </div><!-- /.info-box -->
                    </div>

                </div>
            </div>

        </section>
    </div>

    </body>
</html>