<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
    </head>
    <body th:fragment="ad-vertical">

        <div th:if="${ (#authorization.expression('@apoloSecurity.isAuthenticated()') == true and #authentication.systemUser.tenant.showAdds == true)}">

            <input type="hidden" id="googleAdClient" th:value="${#authentication.systemUser.tenant.googleAdClient}" />
            <input type="hidden" id="googleAdSlotOne" th:value="${#authentication.systemUser.tenant.googleAdSlotOne}" />

            <div id="ad-one" class="google-ad ad-desktop google-vertical-ad ad-one"
                 data-google-ad-width="160"
                 data-google-ad-height="600">
            </div>

        </div>
    </body>
</html>