<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
    </head>
    <body th:fragment="header">

    <!-- #HEADER -->
    <header id="header">
        <div id="logo-group">

            <!-- PLACE YOUR LOGO HERE -->
            <center>
            <span id="logo">
                <a th:href="${#authorization.expression('@apoloSecurity.isAuthenticated()') == true} ? @{|/web/${#authentication.systemUser.tenant.url}/user|} : @{'/'}">

                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg">
                        <strong>
                            <img class="logo-opacity" th:if="${#authorization.expression('@apoloSecurity.isAuthenticated()') == true}
                                                    and ${#authentication.systemUser.tenant.logo != null}"
                                 th:src="@{|/web/${#authentication.systemUser.tenant.url}/uploadedfiles/Tenant/${#authentication.systemUser.tenant.id}/${#authentication.systemUser.tenant.logo}|}"
                                 th:width="${#authentication.systemUser.tenant.logoWidth} + ${'px'}"
                                 th:height="${#authentication.systemUser.tenant.logoHeight} + ${'px'}"
                                 th:style="${'width: '} + ${#authentication.systemUser.tenant.logoWidth} + ${'px; height: '} + ${#authentication.systemUser.tenant.logoHeight} + ${'px;'}"
                                    />

                            <img class="logo-opacity" th:if="${#authorization.expression('@apoloSecurity.isAuthenticated()') != true}
                                                    and ${tenant != null}
                                                    and ${tenant.logo != null}"
                                 th:src="@{|/web/${tenant.url}/uploadedfiles/Tenant/${tenant.id}/${tenant.logo}|}"
                                 th:width="${tenant.logoWidth} + ${'px'}"
                                 th:height="${tenant.logoHeight} + ${'px'}"
                                 th:style="${'width: '} + ${tenant.logoWidth} + ${'px; height: '} + ${tenant.logoHeight} + ${'px;'}"
                                    />

                            <span class="logo-opacity" th:if="${#authorization.expression('@apoloSecurity.isAuthenticated()') == true}
                                            and ${#authentication.systemUser.tenant != null}
                                            and ${#authentication.systemUser.tenant.showName == true}
                                            and ${#authentication.systemUser.tenant.name != null}"
                                  th:text="${#authentication.systemUser.tenant.name}">

                            </span>

                            <span class="logo-opacity" th:if="${#authorization.expression('@apoloSecurity.isAuthenticated()') != true}
                                            and ${tenant != null}
                                            and ${tenant.showName == true}
                                            and ${tenant.name != null}"
                                  th:text="${tenant.name}">

                            </span>

                            <img class="logo-opacity" th:if="${#authorization.expression('@apoloSecurity.isAuthenticated()') == false}
                                                            and ${tenant == null}"
                                 th:src="@{'/resources/app/img/favicon.png'}"
                                 width="12"
                                 height="15"
                                 style="width: 12px; height: 15px;"
                                    />
                            <span class="logo-opacity" th:if="${#authorization.expression('@apoloSecurity.isAuthenticated()') == false}
                                                            and ${tenant == null}"
                                  th:text="#{app.title}"
                                    />
                        </strong>
                    </span>
                </a>
            </span>
            </center>
            <!-- END LOGO PLACEHOLDER -->
        </div>

        <!-- #TOGGLE LAYOUT BUTTONS -->
        <!-- pulled right: nav area -->
        <div class="pull-right">

            <!-- collapse menu button -->
            <div id="hide-menu" class="btn-header pull-right">
                <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
            </div>
            <!-- end collapse menu -->

            <!-- login button -->
            <div id="login" class="btn-header transparent pull-right"
                 sec:authorize="!@apoloSecurity.isAuthenticated()">
                <span>
                    <a th:href='@{/web/login}'
                       th:title="#{user.login}"
                       data-action="userLogin">
                        <i class="fa fa-sign-in"></i>
                    </a>
                </span>
            </div>
            <!-- end login button -->

            <!-- logout button -->
            <div id="logout" class="btn-header transparent pull-right"
                 sec:authorize="@apoloSecurity.isAuthenticated()">
                <span>
                    <a th:href='@{/web/logout}'
                       th:title="#{user.logout}"
                       data-action="userLogout"
                       th:attr="data-logout-msg=#{user.security.logout.message}"
                            >
                        <i class="fa fa-sign-out"></i>
                    </a>
                </span>
            </div>
            <!-- end logout button -->

            <!-- fullscreen button -->
            <div id="fullscreen" class="btn-header transparent pull-right">
                <span>
                    <a href="javascript:void(0);" data-action="launchFullscreen" th:title="#{common.fullscreen}">
                        <i class="fa fa-arrows-alt"></i>
                    </a>
                </span>
            </div>
            <!-- end fullscreen button -->

        </div>
        <!-- end pulled right: nav area -->

    </header>
    <!-- END HEADER -->

    </body>
</html>