<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
    </head>
    <body th:fragment="loadingDialog">
        <div class="container ">
            <div class="row ">
                <div id="loadingDialog" class="modal fade span1" tabindex="-1" data-role="dialog" style="text-align: center;">
                    <div>
                        <center>
                            <div class="holder">
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>